[2017-01-03 13:29] davideas commented on #261
Oh I see, you need to pass always the original unfiltered list to `filterItems()`, this because if reduce the filter, the adapter needs to show again all the original items previously filtered out, it takes the items from the original source of information.

PS. You can already use the rc1 version.

[2017-01-03 13:31] davideas commented on #261
In your case the original list, is still without subItems.

[2017-01-03 13:36] volser commented on #261
I made copy of original list:
List<...> originalItems = new ArrayList<>(items);
adapter = new BaseAdapter<>(items);

and also set copy for unfiltered:
if (adapter.hasNewSearchText(newText)) {
                        adapter.setSearchText(newText);
                        adapter.filterItems(new ArrayList<>(originalItems));
                    }

and for "B" I got (header with all childs)
Level1A
-

[2017-01-03 13:41] volser commented on #261
"originalItems" contains only top level items (Level1A, Level1B)
What could be wrong?

[2017-01-03 13:44] davideas commented on #261
The list you named `originalItems` and that you pass to the adapter, it's rather the one modified internally by the adapter, so it is not the original list. You probably want to name it `adapterItems`? It looks like the original list is the one named `items`.

it's ok if you pass a copy of the list to filterItems.
Can you try? `adapter.filterItems(new ArrayList<>(items));`

[2017-01-03 13:45] davideas commented on #261
Sorry I read it wrong. let me see.

[2017-01-03 13:48] volser commented on #261
Likely, I need "deep" copy of list , not only list, I need new items also.
It is not very useful if I want filter only local items (without some remote request)

[2017-01-03 13:48] davideas commented on #261
Let's check if you properly implemented `equals` method of the items, can you post the 2 equals methods here?

PS. Deep copy not necessary.

[2017-01-03 13:49] volser commented on #261
`    @Override
    public boolean equals(Object inObject) {
        if (inObject instanceof AbstractModelItem) {
            AbstractModelItem inItem = (AbstractModelItem) inObject;
            return this.id.equals(inItem.id);
        }
        return false;
    }
`

[2017-01-03 13:51] davideas commented on #261
This equals method is inside the AbstractModelItem class?

[2017-01-03 13:51] volser commented on #261
yes

[2017-01-03 13:56] davideas commented on #261
Ok from here, I can't see so much. Please enable the logs with the static call `enableLogs()` before creating the adapter. Also try to debug the `filter()` method. You will be also able to see the mItems inside the adapter if you check filterItems method.
Maybe you can tell me more.

[2017-01-03 13:59] davideas commented on #261
Use the rc1 version, so you can see the latest source code when debugging.

[2017-01-03 14:10] volser commented on #261
here addFilteredSubItems()

if (!subItem.isHidden())  -- always true

[2017-01-03 14:18] SolidScorpion commented on #262
@davideas I tried what you suggested and updated to rc1 version. I also removed some calls when initializing adapter
This is how i now initialize the adapter
'
mFlexibleAdapter = new FlexibleAdapter(new ArrayList(), this, true);
        mFlexibleAdapter
                .setAutoCollapseOnExpand(false)
                .setAutoScrollOnExpand(true)
                .setAnimateToLimit(Integer.MAX_VALUE)

[2017-01-03 14:22] volser commented on #261
I found issue, very strange

mSubItems = Lists.transform(...);

Lists.transform - it's from Guava

and mSubitems somehow changed all time

mSubItems = Lists.newArrayList(Lists.transform()) - works fine

[2017-01-03 14:26] davideas commented on #261
Wow, so it now works as expected?

[2017-01-03 14:27] volser commented on #261
yeah

[2017-01-03 14:31] volser commented on #261
Thanks for help and cool library 👍

[2017-01-03 14:32] davideas commented on #262
OK, so now let's see how `data` is composed when you pass it to `updateDataSet()`. You added only the expandables or also the subItems to the adapter list? by default the item flag is `expanded=false`.

To expand the items after updateDataSet you will have 2 options:
[code]

[2017-01-03 14:40] davideas commented on #261
Thank you!

[2017-01-03 14:40] #261 closed

[2017-01-03 14:47] davideas commented on #262
Do you still get the log `No subItems to Expand on position 0 expanded false` ? that should not happen.

[2017-01-03 14:48] SolidScorpion commented on #262
Ok, so I have 2 main viewmodels
InstitutionModel (header) class and SubinstitutionModel (subitem) class

Here are gists for them: [InstitutionModel - header](https://gist.github.com/SolidScorpion/de0d8e1d6e4d775651f6aba81aeb73cb)

[Subinstitution](https://gist.github.com/SolidScorpion/8d56a4a240189bdf3d85709260e5ac54)

After i receive my data from firebase i convert it to view models using this cl

[2017-01-03 14:56] SolidScorpion commented on #262
I'm sorry for confusion, i was displaying another set of same data (InstitutionModel) that does not have subitems. I display fragments in view pager. So this log is for fragment on index 1 of view pager. My fault for not providing clear log. Here's the log with fragment in question with any obscuring data:

`01-03 09:55:15.462 15578-15578/com.extrawest.citizenapp.mykolaiv V/AnimatorAdapter: animat

[2017-01-03 15:06] davideas commented on #262
Ok, no problem for that log.
But actually you talked about `ViewPager` and so multiple lists! I make a note for you that, if the same instance of expandable item is displayed in the first fragment, then you might have that inconsistency: Both adapters are referring to the same memory zone for the flag `expanded`, therfore, you still need to distinguish the items of list 1 from the items of list 2

[2017-01-03 15:10] SolidScorpion commented on #262
Hm, i might try this. Although it seems odd, because I have a viewpager with 3 tabs.
2 tabs use same fragment, but viewpager creates two separate instances of that fragment for every tab.
Therefore each of those fragments should be displaying their own recycler view with their own separate adapter, which shouldn't be aware that there's a neighbour fragment with almost identical data.
I'll try crea

[2017-01-03 15:32] SolidScorpion commented on #262
Unfortunately that did not help. I created a separate viewmodel to be shown in second fragment and still have the same crash on first fragment when trying to collapse view.
Might you be so kind to take a look at my project if I send it to you?
I'm literally at loss here of what i could be doing wrong

[2017-01-03 15:38] davideas commented on #262
ok, make it available to clone here, so i can easily use the project and launch it.

[2017-01-03 15:54] SolidScorpion commented on #262
Ok, here it is!
https://github.com/SolidScorpion/Citizen

[2017-01-03 16:55] davideas commented on #262
I found it.
All the equals methods are wrong implemented (`hashcode()` too, as a consequence). Please use an unique identifier, use a field named `id` as Integer or String.
You can try your app with the default java implementation: `return this == b`; but I recommend to use an ID.

I discovered it by collapsing the 3rd section. Then if you scroll you will find already the 5th and 7th collapsed, wh

[2017-01-03 18:42] SolidScorpion commented on #262
Thank you so much! Yes, it now works properly!

[2017-01-04 07:54] #262 closed

[2017-01-04 07:55] #252 closed

[2017-01-09 02:44] JakeWoki opened #263 "Some problem about use Shared Element Transitions"
# [Video](https://github.com/JakeWoki/FlexibleDemo/blob/master/device-2017-01-09-155342.mp4)
![20170109155424](https://cloud.githubusercontent.com/assets/6948411/21760382/a6825a5a-d686-11e6-9f4c-b2745f501d3f.png)
![20170109155438](https://cloud.githubusercontent.com/assets/6948411/21760383/a6b1df28-d686-11e6-97a7-b421637f79c2.png)

# [FlexibleDemo](https://github.com/JakeWoki/FlexibleDemo)

can yo

[2017-01-09 08:51] davideas commented on #263
I also encountered something similar, I did not resolve it yet. Might this help http://stackoverflow.com/questions/26567822/hiccups-in-activity-transitions-with-shared-elements ?

[2017-01-09 12:28] DaLN opened #264 "Is there a way to make a RecyclerView circular and center locked autoscroll using FlexibleAdapter?"
#Hi everyone, here is what i want to obtain.

It seems we can't override getItemCount as it is final in FlexibleAdapter so i am not sure that there is a way to make the scroll circular.

Thanks for your answers.

[2017-01-10 10:42] davideas commented on #264
Hello @DaLN, circular for sure not. but maybe centered yes.
Anyway, it's something not related with the adapter: Recently, a new version of Support Library was released with `LinearSnapHelper`. Good luck!

[2017-01-11 16:07] davideas commented on #37
Added [Payload](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Payload) & reviewed all existent pages.

[2017-01-12 20:13] inorichi commented on #201
I think a `getItems()` could be useful sometimes. It could return a copy of the adapter list if you are concerned about it being modified.

My use case: I'm retrieving a list of items after a reorder (by a user drag). I'm using `onItemReleased` to notify the activity that the order has been altered, and I update my database after retrieving the current list and fixing the positions of my models. C

[2017-01-12 22:54] davideas commented on #201
@inorichi, thanks for the message.
Please open a new issue for the question about rotation and restoring selection.

`getItems()` might be added, since it might become useful in such situations as you described.

For `getSelectedItems()` I will need to cycle the selected positions and return a new list of items, I will evaluate if I will add it or not.

`setItems()` instead, is named `updateDataSe

[2017-01-13 07:33] inorichi commented on #201
Oops, I was looking for a `*Items` method and totally overlooked the `updateDataSet` method (probably because it had a different meaning in 0.4.2). Sorry for not investigating enough.

For `getSelectedItems`, I'm doing that. When multiple items are going to be deleted in multi selection mode, I map the positions to the items, and call a method in my presenter to delete those objects passed as para

[2017-01-13 13:20] davideas commented on #201
For removing selected items, you can call directly `removeAllSelectedItems()`, so you don't need to call remove one by one.
If you use the new `UndoHelper` you will need to pass the positions, too.
Having the undo enabled it gives you access to the `getDeletedItems()`.

When removing items from your original list / DB, you might have to do some additional operations, and you probably want to cast

[2017-01-13 15:38] inorichi opened #265 "UndoHelper dismissed quickly with Snackbar predefined lengths."
In [this line](https://github.com/davideas/FlexibleAdapter/blob/rc1/flexible-adapter/src/main/java/eu/davidea/flexibleadapter/helpers/UndoHelper.java#L159), 400ms are added  to `undoTime` to compensate animations.

When using `Snackbar#LENGTH_LONG` or `Snackbar#LENGTH_SHORT` (valid values according to the documentation), the snackbar is dismissed almost instantly because its values are 0 and -1.

[2017-01-13 20:53] davideas commented on #265
@inorichi, yes!

[2017-01-15 03:35] searchy2 opened #267 "Provide Sample App APK"
Library should provide sample app for demo purposes. APK can be generated and added to sample app folder. Or, sample app can be submitted to Google Play and downloaded through that platform.

[2017-01-15 03:36] searchy2 commented on #267
PR #266

[2017-01-15 09:40] davideas commented on #267
Hello @searchy2, you can find already apk under releases page.
Regarding Play store, it is on my to do list for 5.0.0 final release.

[2017-01-15 09:40] #267 closed

[2017-01-15 10:09] #168 closed

[2017-01-15 10:09] #176 closed

[2017-01-15 10:09] #179 closed

[2017-01-15 10:09] #184 closed

[2017-01-15 10:09] #190 closed

[2017-01-15 10:09] #191 closed

[2017-01-15 10:09] #210 closed

[2017-01-15 10:09] #229 closed

[2017-01-15 10:09] #231 closed

[2017-01-15 10:09] #236 closed

[2017-01-15 10:09] #200 closed

[2017-01-15 10:09] #201 closed

[2017-01-15 10:09] #227 closed

[2017-01-15 10:09] #228 closed

[2017-01-15 10:09] #233 closed

[2017-01-15 10:09] #244 closed

[2017-01-15 10:09] #265 closed

[2017-01-15 10:11] #239 closed

[2017-01-15 10:11] #263 closed

[2017-01-15 10:11] #264 closed

[2017-01-15 10:18] davideas commented on #39
First **release candidate [v5.0.0-rc1](https://github.com/davideas/FlexibleAdapter/releases/tag/5.0.0-rc1)**: new features, improvements and fixes. (You can download the apk from the release page).

[code]

[2017-01-15 13:41] inorichi opened #268 "Sticky headers don't work when all headers are initially collapsed"
As the title says, if all the headers of the adapter are collapsed when initially calling `updateDataSet`, sticky headers don't work after expanding them, but it works if I expand one and rotate the screen.

From my investigation, I think this is due to the `headersShown` property, which is always false if the initial state was collapsed.

I think the problem resides [in this line](https://github.

[2017-01-15 14:14] inorichi commented on #268
Nevermind, it was my fault. I initially had `setDisplayHeadersAtStartUp(true)` but removed it trying to find another bug I had before and forgot to add it again. Calling this method make them work even if they are initially collapsed.

However, I don't know if the line I mentioned before could still cause another issue, it might be worth to check that just in case.

[2017-01-15 14:14] #268 closed

[2017-01-15 22:39] davideas commented on #268
@inorichi, I marked this as bug and also fixed for next version, but since it is not a blocking I leave this issue closed. Thanks.

[2017-01-16 14:00] bfayette commented on #3
The app demo is impressive, at least from a user point of view.  Unfortunately, I came accross this library after a lengthy search on how to use effectively recyclerview/cardview to show data. It should definitively have a better referencement. All the basic functionnalities are there.

[2017-01-19 08:13] jamiehiggins commented on #259
This would be a great addition

[2017-01-19 21:04] shymmq opened #269 "Is it okay to initialize endlessly scrolling adapter with null?"
I was wondering if I always have to add some starting elements in order to endless scroll to work?
Let's say I initialize my adapter with `FlexibleAdapter<IFlexible> adapter = new FlexibleAdapter<>(null);`
Then i set EndlessScrollListener on it, for example `adapter.setEndlessScrollListener(this, progressItem);`.
In this case, will onLoadMore fire on startup? In all examples i have seen there are

[2017-01-19 22:50] davideas commented on #269
@shymmq, indeed, at the moment you need to bind something to trigger it (not the _progressItem_!), one item is necessary.
If I added `if (getItemCount() == 0) onLoadMore(0);` when setting the first time the progress, it will start automatically. But you can tell me better, since you are using it more than me: when adapter is empty at startup, better an implicit automatic start or a boolean setting

[2017-01-19 22:57] shymmq commented on #269
Thank you, that makes sense. I think that something like `adapter.loadMoreOnStartup(boolean b)` would be perfect. It should be set to `false` by default, though, so it doesn't break any old code.

[2017-01-20 17:31] JeffreyLeeSpokeo opened #270 "FlexibleAdapter swiped item does not disappear"
So I followed the instructions on "Swipe the front view" on this link:
https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Drag&Drop-and-Swipe

And I was able to get swiping to work with having a rear view during swipe left and swipe right. My layout is simple. I have rows of AbstractFlexibleItem stacked vertically on top of each other. When I swipe right or left, the front view disappears, b

[2017-01-20 18:45] JeffreyLeeSpokeo commented on #270
I found the answer. For the adapter you need to do stuff onItemSwiped. All I did was removed it from the dataset and called notifyDataSetChanged().

`
@Override
public void onItemSwiped(int position, int direction) {
    super.onItemSwiped(position, direction);
    dataSet.remove(position);
    notifyDataSetChanged();
}
`

[2017-01-20 18:46] #270 closed

[2017-01-20 21:05] davideas commented on #270
@JeffreyLeeSpokeo, maybe was not clear from that wiki page, indeed I still need to review it.
But you have a specific listener you can implement instead of overriding the method: `OnItemSwipeListener` that extends also `OnActionStateListener`.

Up to you if you want use the listener or keep overridden the adapter method.

For removing the item you should use `removeItem()` only, without `notifyDat

[2017-01-20 23:55] JeffreyLeeSpokeo commented on #270
Sorry, I initialized dataSet somewhere else, but you are right. I learned later on that removeItem() was just a better solution.

[2017-01-21 14:15] shymmq commented on #37
[Load more upon a user request](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-On-Load-More#load-more-upon-a-user-request) isn't really documented well. Should I call adapter.onLoadMore()? If yes, when? Will the items be added automatically or do I have to add them manually? Also, there is no example on this topic in the demo app, only automatic loading.

[2017-01-22 15:09] davideas commented on #37
@shymmq, that part is indicative (without example yet), but the logic steps are described. I added another point to complete the loading once the items are received.

`onLoadMore()` is for automatic loading, so you **don't** have to call it. The items are loaded when user clicks on the button that you add in the layout of the progress bar. The callback of that remote call will invoke `onLoadMoreCo

[2017-01-23 16:56] BoukhariAyoub opened #271 "onLoadMoreComplete doesn't show headers"
Hello, I'm trying to make a simple instagram like behaviour, but when I set the endless scroller the new Items are showing without headers and getting attached to the last Header.

I used the same code as the sample (instagram)

[2017-01-23 23:00] davideas commented on #271
@BoukhariAyoub, items, that are still of type `ISectionable`, must have non-null header, same initialization at startup. So you don't have to add headers, but only items.
Concept, items and its implementation for sections don't change. Check `equals` method first!

[2017-01-23 23:00] #271 closed

[2017-01-25 22:38] #269 closed

[2017-01-26 14:15] rmunk opened #272 "ActionModeHelper does not replace Toolbar"
I am trying to use `ActionModeHelper` with `FlexibleAdapter` in my fragment which is inside standard `AppCompatActivity` with `AppBar` and `Toolbar`.

For some reason `ActionModeHelper` fails to replace the `Toolbar` like in the sample app but draws itself above it instead:
![device-2017-01-26-131815](https://cloud.githubusercontent.com/assets/1774159/22333648/80e4b67c-e3d7-11e6-9439-5519504dcefe.

[2017-01-27 10:48] davideas commented on #272
@rmunk, please check your style as done [here](https://github.com/davideas/FlexibleAdapter/blob/master/flexible-adapter-app/src/main/res/values/styles.xml#L8).

[2017-01-27 10:48] #272 closed

[2017-01-27 11:01] rmunk commented on #272
Thanks, I apologize for my stupidity.

[2017-01-27 11:07] davideas commented on #272
@rmunk no problem.

[2017-02-02 22:18] allenchen1154 opened #273 "Sticky headers not being recycled"
Library version: 5.0.0-rc1
Android API: 25
Support library version: 25.1.0
Hardware: x86-64 Emulator

It looks like the ViewHolder that corresponds to my sticky item (extends `AbstractHeaderItem`) is inflated every time you scroll past its position in the list. Is this intended behavior?

I am not using AutoMap - `android.support.v7.widget` is calling my adapter's `onCreateViewHolder()` method.

[2017-02-03 03:31] dev-JE02 opened #274 "How do you get all the Sections already in the Adapter?"
I need something like this to check if a ISection object has already been added to the adapter

[2017-02-04 06:25] a-nightcrawler opened #275 "How to put ExpandableHeader items list in accordion mode"
Hi guys, I was wondering if there is any way to make ExpandableHeader items list act like an accordion.
For example: I initially got all my items collapsed, then I tap on one to expand it, and then when I tap on another item the previous one collapse itself in a  way that every time only one item is expanded. I would really appreciate your help to achieve this :). Thanks so much.

[2017-02-05 16:03] faridfor opened #276 "DividerItemDecoration bug when using sticky headers"
Hi.
I am using version 5.0.0-rc1
I have a adapter with sticky headers:
`mAdapter.setStickyHeaders(true).setDisplayHeadersAtStartUp(true);`
and after adding a divider :
`mRecyclerView.addItemDecoration(new DividerItemDecoration(getContext(), R.drawable.post_list_divider).withOffset(false));`
i see this: (header view is semi-transparent)
![screenshot_20170205-190254](https://cloud.githubusercontent.

[2017-02-06 11:30] lemonboston opened #277 "How to merge new items with same Header"
If I use FlexibleAdapter with sticky Headers, how can I add new List of items to the adapter which may contain Header that is already in the list?

Like:
[code]
So does FlexibleAdapter support some automatic merging of the headers that are equal or do I have to do that manually by using the correct references of the actual header objects?
Either by using addItemToSection(), or with addItems() but

[2017-02-06 17:00] davideas commented on #273
@allenchen1154, yes it is a intended behavior to have it sticky. If you check the code I make it not recyclable `setIsRecyclable(false)` when swapped.

[2017-02-06 17:04] davideas commented on #274
@dev-JE02, normally you already have the headers added to the adapter. But you can use `getHeaderItems()`.

[2017-02-06 17:05] davideas commented on #275
@a-nightcrawler, you can call `setAutoCollapseOnExpand(true)`.

[2017-02-06 21:44] ncioj10 commented on #166
Currently they are close to implementing fine grained notifications, which will make it a lot easier to update objects. https://github.com/realm/realm-java/issues/989

[2017-02-07 00:39] a-nightcrawler commented on #275
Thanks, it works perfectly

[2017-02-07 00:39] #275 closed

[2017-02-07 14:45] lostation opened #278 "java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid view holder adapter positionViewHolder"
Hi Davideas & developers,

I'm facing to a strange problem and I don't know if I do something wrong with the FlexibleAdapter.

To explain the situation :

In a form, I can open different list of choices from some clicks on edit text view.
To fill the list of choices, I'm using a content provider that gets back a cursor from database fulfilled with some HEADER type and SUBITEM type. Both are stored

[2017-02-07 14:57] davideas commented on #278
@lostation, this might occurs on full list change, so it depends a lot of how you notify the adapter about the change. You can read a lot about this issue in Internet. However, how you make the update?

[2017-02-07 15:04] inorichi commented on #278
I think I had the same issue. You probably forgot to update your adapter with a COPY of the list. If you update the adapter without creating a new list, this will happen.

[2017-02-07 15:07] davideas commented on #277
@lemonboston, the new items should have already the destination header, and since the order of displaying depends a lot of the user content, then you need to create your own logic to automatically sort the new items within the section. To do that you have to pass your own `Comparator` object to the `addItemToSection()`. Check the Comparator I've done in my example to take some clues.

If you alrea

[2017-02-07 15:16] davideas commented on #276
@faridfor, this seems more related to the header item background. How is it configured? Do you use any of the new features of transparency?

[2017-02-07 16:14] lostation commented on #278
Thanks for answer

So before any update adapter content : I do
if (items != null) {
            LOGGER.e(TAG, "Remove all content");
            items.clear();
            notifyDataSetChanged();
}
then     items = new ArrayList<>();

Then in a FOR loop  I add some  items.add(currentHeader);  and  currentHeader.addSubItem(subItem);

Then call   updateDataSet(items, animate);

 @Override
    public

[2017-02-07 16:25] lostation commented on #278
I use     compile 'eu.davidea:flexible-adapter:5.0.0-rc1'

[2017-02-07 16:28] lostation commented on #278
Like I said, I use several list with different content that use the flexibleAdapter and the click on item or header works really well... but for some header on the same list ... crash

[2017-02-07 16:30] davideas commented on #278
@lostation, the copy as you know is only by reference for a list or set.
I see few things not ok:
- Normally, you have your own list of the database and the adapter list, as explained the adapter needs to modify the list when expanding, searching, it deletes and adds items as you command. So keep in mind this architecture. Almost all advanced features cannot work if the list is linked to a cursor.

[2017-02-08 10:37] Tiannuo opened #279 "emptyview"
please add emptyview,thanks

[2017-02-08 11:03] faridfor commented on #276
this is my header, it has a transparent background

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              xmlns:app="http://schemas.android.com/apk/res-auto"
              xmlns:tools="http://schemas.android.com/tools"
              android:layout_width="match_parent"
              android:layout_height="wrap_content"

[2017-02-08 12:42] davideas commented on #276
@faridfor, sorry but your post represents the content of the header, I asked the header container.

[2017-02-08 12:47] lostation commented on #278
I found my mistake. I was not a question of copy of dataset neither notify* methods...
In my dataset's content sometimes I used same value as title in header views and in my abstract model I was using a wrong implementation of "id". I used to get the id based on the title...but sometime this value was the same than another item...and I was hashing this value twice on the same value so recycler was

[2017-02-08 12:47] #278 closed

[2017-02-08 12:47] davideas commented on #279
@Tiannuo, emptyView is sub view in the layout where the RecyclerView lays, the Adapter has a listener you can implement, but it is useless for the adapter to invoke Visible/Invisible. The developer can customize the behavior if this choice is free for him.
You can check the demoApp to see how it should be implemented and controlled.

[2017-02-08 12:47] #279 closed

[2017-02-08 12:53] davideas commented on #278
Good, but still don't call the methods notify**, let the adapter do it for you, check the code of the adapter so you understand.

[2017-02-08 13:33] lemonboston commented on #277
I know the position, so I could use `addItems()` but that result in duplicate header.

So it's like this:

[code]

Is there any way to solve this? Thanks.

[2017-02-08 13:39] davideas commented on #277
@lemonboston, if you have duplication the answer is easy: the header is different, so it is different instance. To resolve logic duplication you have to take the same header instance.

[2017-02-08 13:50] lemonboston commented on #277
I did try with updating the headers to the same instance in both ways.

So with update new items to have the same header as already in the list, this happens:

[code]

With the other way, so updating existing items to have the same header as in the incoming items:

[code]

[2017-02-08 14:03] davideas commented on #277
I understand that you are adding items of different groups all together in an unique command. For how it is done, the adapter can't know the order/position of addition of all new items cross sections.

The sort algorithm is yours: every time you encounter a new header you take header position and add the new items that belongs to that section to the correct position.

I would do with a custom Comp

[2017-02-08 15:04] lostation opened #280 "Search & filtering"
Hi folks,

I've added the searchable functionality and it works well just when I add input text and not when I remove text.

So I can make a search of word in my adapter dataset and the text is highlighting if matches -> nice ! ... but not on every showed items.

I'm pretty sure it's linked to a refresh problem cause I have UI troubles when I remove search text.
The refresh of the initial list see

[2017-02-08 16:53] lostation commented on #280
I simplify a bit

        if (hasNewSearchText(search)
                && initialDataset != null && initialDataset.size() > 0) {
            setSearchText(search);
            filterItems(initialDataset, 200);
        }

    public void setChoiceList(List<ChoiceModel> choiceModelList){
        if (choiceModelList != null && choiceModelList.size() > 0){
            initiaChoiceModelList = new Array

[2017-02-08 20:40] davideas commented on #280
@lostation, I see that you are using the same instance `initialDataset` to initialize the Adapter **and** to filter the items, so the original list is not copied while filtering and the adapter already modified it when filtering it.
Internally, the Adapter deletes items while filtering, so if you remove chars in the search text it needs to find items from the original list, not from the original i

[2017-02-09 16:11] lostation commented on #280
Ok it works...

I was misunderstanding the utility to recreate really each time a new dataset with fresh AbstractModelItem entity ID and new linked Hashcodes.

In fact, I was storing and always copy ( for search for instance) the initial dataset that I pushed to adapter on first step...  That was indeed wrong !

It NEEDS new ID and hashcodes ! So on every add/remove character it recreate a new cop

[2017-02-09 16:11] #280 closed

[2017-02-09 16:35] lemonboston commented on #277
We don't really need a sorting and comparison because the items are provided in correct order by our API and I think the Comparator wouldn't have helped, because as I come to understand the problem is simply that when adding items to a RecycerView to a postion which is visible, it of course shows them and pushes everything down. And because the IHeader was a visible item, adding anything under it

[2017-02-10 09:17] davideas commented on #277
@lemonboston, I see you have found a nice solution to add new items when header was already visible.

[2017-02-10 13:02] lemonboston commented on #277
I don't know how nice it is but it worked :)

But we still have a problem: when the items are added on top without 'merging', so the `else` branch in the code above, simply using `addItems(0, newItems)` where `newItems` have distinct headers from the ones already in the list, then the current top header flashes.

Here are two screen videos:

merging, non-flashing:
https://drive.google.com/open?id=

[2017-02-10 13:22] davideas commented on #277
Well, you said that you remove it and when new items are added, it is displayed again. There are 2 notifications for this "flash". I am not sure you can do something about it.

[2017-02-10 14:38] davideas opened #281 "Delegate spanSize to IFlexible item"
`AbstractFlexibleItem` will implement `getSpanSize(spanCount, position)`.

Avoids boiler plate code such as `switch`, when `GridLayoutManager` is used.

[2017-02-11 07:19] Tiannuo commented on #279
thanks very much ,i got it.

[2017-02-11 15:08] daquexian opened #282 "how to set padding of sticky headers programmatically?"
Library version: 5.0.0-rc1

In ViewHolder, I used `itemView.setPadding` to set padding of `itemView` programmatically, but when the item gets sticky on top, the padding I set before doesn't work any more. And I couldn't find a method to set padding of sticky headers programmatically. How could I solve it?

Thanks in advance

[2017-02-11 21:11] davideas commented on #282
@daquexian, can you try to call `getContentView()` in the constructor of the ViewHolder?
Read the comment on it.

[2017-02-12 00:03] daquexian commented on #282
Thanks for you reply! It solved my problem.

I have another problem about padding. My RecyclerView has a padding, how
can I make the sticky header follow this padding without setting the
padding of outer FrameLayout instead?

On Sun, Feb 12, 2017, 5:12 AM Davide Steduto <notifications@github.com>
wrote:

[2017-02-12 14:21] restor1 opened #283 "Is it possible to hide/show a specific header?"
Or generally some of the headers?

[2017-02-12 14:26] davideas commented on #283
@restor1, you have to delete it manually, but some features might display it automatically once activated, library supports only all headers at once.

[2017-02-12 14:33] davideas commented on #282
@daquexian, you can create your own header container, and assign it to the Adapter.
The default header container is inside another FrameLayout for elevation effect.

Check the code here [StickyHeaderHelper](https://github.com/davideas/FlexibleAdapter/blob/master/flexible-adapter/src/main/java/eu/davidea/flexibleadapter/helpers/StickyHeaderHelper.java#L102) and here [setStickyHeader()](https://gith

[2017-02-12 14:35] #273 closed

[2017-02-12 14:35] #274 closed

[2017-02-12 15:57] faridfor commented on #276
sry github dose not show my layout :(
here is my layout:
`<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              xmlns:app="http://schemas.android.com/apk/res-auto"
              xmlns:tools="http://schemas.android.com/tools"
              android:layout_width="match_parent"
              android:layout_height="wrap_content"
              android:background="#331213

[2017-02-12 17:17] davideas commented on #276
@faridfor, I added your decorator with `offset=true` and added the transparency to the header item, I do not see it any problems, this is the result:

![screenshot_1486919488](https://cloud.githubusercontent.com/assets/12213847/22864296/0ae91028-f14f-11e6-9bcc-afdce9b05969.png)

You should have something particular in your code, because decorator must lay between items (see the red color), why in

[2017-02-12 17:27] davideas commented on #276
Maybe I understood!
Only when `offset=false` i reproduced your issue, fortunately I have entry animations enabled and I see the decorator under the items for a fraction of time, so the decorator is displayed under the transparent item.

I can say, your configuration is wrong in some concepts:
- The height of the decorator is too high.
- `Offset=true` leaves the space of the decorator between all i

[2017-02-13 15:12] kvolkers opened #284 "FlexibleAdapter#removeAllScrollableFooters() seems to notify incorrect item range"
v5.0.0-rc1
https://github.com/davideas/FlexibleAdapter/blob/master/flexible-adapter/src/main/java/eu/davidea/flexibleadapter/FlexibleAdapter.java#L909

I think this line should be changed from:
`notifyItemRangeRemoved(getItemCount() - 1 - mScrollableHeaders.size(), mScrollableFooters.size());`
to:
`notifyItemRangeRemoved(getItemCount() - mScrollableFooters.size(), mScrollableFooters.size());`

Cal

[2017-02-13 15:22] davideas commented on #284
@kvolkers, yes, you're right, I'll fix it asap and initially publish as snapshot version.

[2017-02-13 15:36] #284 closed

[2017-02-13 16:17] #281 closed

[2017-02-13 16:37] ahmedkhan23 opened #285 "[QUESTION] Can we remove a AbstractSectionableItem from onBindViewHolder"
Just wondering if it is possible to remove an AbstractSectionableItem from onBindViewHolder callback within the same class ?

Basically I have a view within my ViewHolder that actions the delete right away.

When I do this using removeItem(position) from within onBindViewHolder I notice that the "removed view" appears stacked below the recyclerview in the same position ...

[2017-02-13 16:51] davideas commented on #285
@ahmedkhan23, the question is applicable for any item type, and is more generic to all Adapters.
The event of removal is triggered by something external normally, you are removing the same view during the binding, so the LayoutManager wants to display it but you are actually removing the item, creating another notification for removal.
LayoutManager may not stays at your step for this specific cas

[2017-02-13 16:55] ahmedkhan23 commented on #285
I am using the new method, binding from within the item.
Removal is not done during binding. What I have is a clicklistener on the "delete button" within the viewholder that will trigger the removal. So only when the button is clicked will this occur.

[2017-02-13 17:04] davideas commented on #285
Ah ok, well, it normally works then, the demoApp if full of this use case. Maybe you can check it out.

[2017-02-13 17:05] ahmedkhan23 commented on #285
@davideas A hack that I am able to employ is I set the Visibility of the itemView in the ViewHolder to gone after calling removeItemWithDelay();
The adapter does remove the item but it for some reason appears "behind/below [z-axis]" the recyclerview in the same spot it originally was.

[2017-02-13 17:34] ahmedkhan23 commented on #285
@davideas actually that view appearing behind is causing issues -> this was caused by setting isRecyclable(false) on the ViewHolder.

The reason I set isReyclable(false) on the ViewHolder is because after I add a new Item in onSwap() and I scroll up and down in my list my ViewHolders are appearing in different positions.
I really don't know why that was happening but I set isRecyclable(false) and

[2017-02-13 19:28] restor1 opened #286 "Hiding headers at startup"
The docs of FlexibleAdapter's 'setDisplayHeadersAtStartUp' method says
"Default value is {@code false} (headers are <u>not</u> shown at startup)"
while it seems that headers are actually shown by default..
Trying to hide headers using 'hideAllHeaders' works but
the headers are first displayed and then hidden.
How can I hide headers at startup?

[2017-02-13 19:29] davideas commented on #285
@ahmedkhan23, yes, it's the equals method not well implemented, actually returns false.
If you don't have an ID, use the classic java implementation `return this == o;`

[2017-02-13 19:38] davideas commented on #286
@restor1, they are hidden for sure, probably you are adding them to the list at start up along with others items, thing that you should not do it :-)

[2017-02-13 20:43] restor1 commented on #286
I add only items of type AbstractExpandableHeaderItem directly to the list at startup
but they did have sub-items added to them.
However, even if I add the sub-items later or add nothing but the headers with no sub-items at all,
the header is still displayed by default

[2017-02-13 21:03] davideas commented on #286
Ah ok, expandables items must be visible, since they holds others sub items that are added by reference of the father item. If you need expandables you don't have choice that displaying them.
When they are collapsed and you hide them you loose the reference, and cannot be added anymore.

[2017-02-13 23:15] restor1 commented on #286
The use case is that I have a list of expandable headers and whenever there is only one header at the top level, I would like it to be hidden(so only it's sub-items are displayed). It can be achieved by 'hideAlHeaders', but then this will not happen immediately at startup.

[2017-02-14 02:31] daquexian commented on #282
It works, thanks a lot

[2017-02-14 03:10] ahmedkhan23 commented on #285
I have updated the "equals" method in both SectionItem and HeaderItem to use the standard java implementation and also something other than "return false".

I am still having the issue. My use case is before I remove an item from a section I check to see if the size of the section is "1". If the size is "1", removing this sole item would render the section empty and this is not what I want. So bef

[2017-02-14 10:52] restor1 commented on #286
Never mind, in case when there's only one top level header, I add it's "sub-items" directly the adapter and skip it.

[2017-02-14 12:53] #282 closed

[2017-02-14 16:09] aperfilyev commented on #77
@davideas hi! any improvements on that? negative margin in xml doesn't seem to work.

[2017-02-14 22:12] djuelg opened #287 "Issues with empty expandable headers and dragging"
- Version: RC1
- Hardware: OnePlus 3T
- Android: 6.0 Marshmallow

---

Hey there,

my Application is using Expandable Sticky Headers and normal Section Items. Both item types can be added by the user with buttons. Both item types can be dragged and dropped. There are three (related) issues with empty expandable headers and dragging.

### Issue One
The last item in the list is a header. There are n

[2017-02-14 22:32] davideas commented on #217
Can somebody check the current branch **extension** for databinding extension?
Could you please identify if something is wrong or could be done in different way?

I added an item in the demoApp in the GridView to easily enter in the example.
FAB button will create changes to the list (check `performFabAction()` in `FragmentDataBinding`.

**Modifications:**
- I added a copy of items, in `BindingAda

[2017-02-15 06:57] maltebucksch opened #288 "UndoHelper.remove(...) return type changed"
I was fetcching the Snackbar created by the Undo Helper by saving the return value of `UndoHelper.remove(...)`.
However it seems that you changed the return type to `void ` in a commit two days ago (SHA 37a304be45652624a274003c738e5bb208ed653b). That makes it impossible to access the Snackbar.
For some events I want to forcefully hide the snackbar (and execute deletion) *before* the undo time is o

[2017-02-15 08:45] davideas commented on #288
Yes, I can revert it back. It will be available in the Snapshot version soon.

[2017-02-15 08:46] #288 closed

[2017-02-15 09:21] davideas commented on #287
Hi @djuelg, I will try to quickly explain part of the Expandable API, did not write wiki on that yet.

**Issue 2 and 3**
- Empty expandable cannot be expanded, regardless the command you invoke.
- Sub items have to be added **only** in the list of the expandable item, then you can expand it, so there's no duplication if you do this. If you add section item directly to the adapter then it is consid

[2017-02-15 15:44] davideas commented on #77
@aperfilyev, personally I didn't try, need more customization.
Anyway, I have fear it will not be possible with the current version. HeaderItem occupies a line, while in Contacts App, header seems to be on top of the first item.
All items need a start space where the letter can be translated sticky.

As I imagine it now, it seems necessary a new `SideStickyHeaderHelper`, to write from scratch (mor

[2017-02-15 16:00] aperfilyev commented on #77
thanks! [this](https://github.com/TonicArtos/SuperSLiM) library can do it but it doesn't seem to work with search view at all

[2017-02-15 16:11] davideas commented on #77
Ah SuperSlim, yes I know it. The project is not dead he said, but it is almost abandoned as we can see.
That LayoutManager is quite complex and it handles only sections.
However, I cannot use any of that code because it is a LayoutManager, while mine is on the Adapter.

I will try in the next weeks to check what I can do on this, if it is feasible I will reopen this issue.

[2017-02-15 16:18] aperfilyev commented on #77
Thanks! I will try to look into it on the weekend as well.

[2017-02-15 16:18] davideas commented on #77
The key method is this `StickyHeaderHelper.ensureHeaderParent()`

[2017-02-15 18:33] davideas commented on #39
New **5.0.0-SNAPSHOT** has been published.

**Improvements**
Added generic type param when returning FlexibleAdapter object
Resolved #269 - Setting to load more at startup when adapter list is initially empty/null.
Resolved #281 - Delegate spanSize to IFlexible item
Resolved #288 - UndoHelper.remove(...) return type reverted to Snackbar

**Fixes**
Fixed #268 - Sticky headers don't work when all he

[2017-02-16 10:02] uxname opened #289 "How to get swiped item after filtering?"
How to get object (item) in adapter's listener in onItemSwipe method?
When i try to use myObjects.get(position) - it returns object BY POSITION from ALL my collection, but i want to get object BY POSITION from FILTERED items.
[code]

[2017-02-16 10:26] davideas commented on #289
@uxname, you should use mAdapter.getItem(position);

[2017-02-16 11:04] ahmedkhan23 commented on #285
@davideas I believe it is my bindViewHolder() in my SectionItem that is causing issues. I can't seem to pinpoint it. What I do is in my bindViewHolder() I am changing visibility of views inside my holder based on certain user actions.

I have never used payload before. I read the Javadoc on it , and saw your implementation but still not clear on its use.

If my bindViewHolder() looks good, let me

[2017-02-16 11:22] #289 closed

[2017-02-16 13:35] davideas commented on #285
@ahmedkhan23, can you try to use java implementation `return this == o;`? Title "empty" is not unique.

[2017-02-16 14:58] ahmedkhan23 commented on #285
@davideas yup, tried it. It was commented in code as I was toggling between that and the block of code above it.
Didn't work.

[2017-02-16 15:01] davideas commented on #285
@ahmedkhan23, when you say "bottom of the list", you mean behind others items?
Can you make a screenshot?

[2017-02-16 15:35] ahmedkhan23 commented on #285
@davideas Yup, I was trying to do a screen record and paste it here but didn't work, maybe I will upload it to YouTube, I will find a way to demo it.

[2017-02-16 15:41] davideas commented on #285
yes you can do it, just drag an drop in edit mode.

[2017-02-16 15:46] ahmedkhan23 commented on #285
I get the following when trying to upload a .mp4 here
<img width="687" alt="screen shot 2017-02-16 at 10 46 19 am" src="https://cloud.githubusercontent.com/assets/5214703/23028407/3bd9103c-f435-11e6-99c4-60d17011dc07.png">

[2017-02-16 15:55] ahmedkhan23 commented on #285
Here it is
https://youtu.be/Ag1qRNllcW8

When I delete items from the section at the top, before the section will be completely empty, I add in another item [this is done in onBindViewHolder]

Scroll up and down twice, and I notice that the top item appears as the last item in the list.

The issue of "appearing behind" -> I will see if I can capture it again, but it went away with using
the standa

[2017-02-16 16:19] davideas commented on #285
I saw the video, it appears the last item has the property `empty` same as the first item.
Can't say looking your code only, you need to debug, by checking what exactly is the last item.
Also more logs can help.

Just to avoid any further complication, also `hashCode()` must be coherent with `equals()`. So can you try to remove it for now? usually is a `return id.hashCode()` if you have an unique

[2017-02-16 17:22] lemonboston commented on #277
This case I have problem with is the straightforward one when there is no 'merging' needed (no common header in the current list and incoming items).
So for example this:

[code]
So there is no removal here, I only call `addItems(0, newItems)`. So what are those 2 notifications?
If you have any hunch what is behind this, what is the mechanism that may cause the flash, please let me know, it may he

[2017-02-16 19:47] djuelg commented on #287
Okay thanks for you input!

I would like to be more precise on the following:
When I add an Expandable to the list and I don't add subitems to it, it is always collapsed. If I understood you right this is intended and cannot be changed. But when I add an Expandable to the list and I add one subitem, then expand the Expandable and then remove the subitem, the Expandable stays expanded even if it is

[2017-02-16 20:58] davideas commented on #277
@lemonboston, I need to investigate while you have that flash, I will try to reproduce it.
Did you try to disable temporary the sticky header in such situation? enable again after adding.

[2017-02-16 21:02] davideas commented on #287
@djuelg, suggestion: you can create and empty item to be added by default if the expandable is empty.
when all subitems are removed, I will evaluate if I can automatically, change the status.

[2017-02-17 00:30] JeffreyLeeSpokeo opened #290 "How to undo swipe to dismiss"
So I was able to implement swipe to dismiss, but I've checked the documentation and I don't see a way to undo that. I am currently implementing it with a front view and a rear view.

https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Drag&Drop-and-Swipe

If I comment out my code that removes the item from the adapter and refreshes it, I stay on the rear view after swiping away the front view

[2017-02-17 07:57] djuelg commented on #287
A bit ugly, but a "hidden item" should do it.

Have a great day :)

[2017-02-17 08:37] davideas commented on #290
@JeffreyLeeSpokeo, thanks for your message, I was trying hardly to achieve the automatic back swipe via code, without success, and also half swipe, but I gave up, when I saw that the android class was not for this purpose: only swipe-to-delete.
Months ago I added this limitation in the library. So, currently it is not possible, at least i couldn't do it.

if somebody wants to try, he is free to ad

[2017-02-17 11:07] KyrychenkoOleksandr opened #291 "onLoadMoreComplete(null) call from noMoreLoad() cause infinite loop"
According to documentation of onLoadMoreComplete(@Nullable List<T> newItems)

If null or empty list is passed in onLoadMoreComplete() the last if clause is executed and noMoreLoad is called again.

v5.0.0-rc1

[code]

[2017-02-17 11:13] davideas commented on #291
@KyrychenkoOleksandr, the function `onLoadMoreComplete(newItems);` has to be called only inside `onLoadMore()` callback.
The callback `noMoreLoad()` is an termination of your business use case, see demoApp.

[2017-02-17 11:20] KyrychenkoOleksandr commented on #291
@davideas Thank you for your responce.
So
- does it mean that you have a mistake in javadocs?
- how progressItem can be hidden after termination of my business use case?

[2017-02-17 12:43] davideas commented on #291
- "noMoreLoad" in the javadoc i can fix it, was written before I added the real callback in the newer version.
- progressItem is automatically hidden/deleted, also endless features is automatically disabled if limits are set and met.

[2017-02-17 13:15] KyrychenkoOleksandr commented on #291
@davideas
progressItem is not automatically hidden
inside  ```void onLoadMoreComplete(@Nullable List<T> newItems, @IntRange(from = -1) long delay) ```
[code]
```setEndlessProgressItem(null);``` is called. inside
[code]
``` endlessScrollEnabled ``` is set to false.
 than inside ```void onLoadMoreComplete(@Nullable List<T> newItems, @IntRange(from = -1) long delay) ```
[code]
```hideProgressItem();`

[2017-02-17 13:33] davideas commented on #291
For the automatic endless, progressItem and listener must be set with `setEndlessScrollListener()`.
I tested it, everything should work.

[2017-02-17 16:37] magneticflux- opened #292 "FlexibleAdapter's HandlerCallback errantly erases default Runnables posted on it's `mHandler`"
By using a "what" value of `0` for the `UPDATE` "what" in `HandlerCallback` and removing all messages with a "what" value of `0` when an `UPDATE` is queued, *all* `Runnable`s are removed as well.
This causes the sticky headers functionality to fail to activate, as a default `Runnable` is used to call the `attachToRecyclerView` method in the `StickyHeaderHelper` class. To see this in action, call t

[2017-02-19 20:50] arciszewskim opened #294 "[5.0.0-rc1] Expandable header is not resized / redrawn on automatic configuration change when sticky headers are enabled"
I need activity with android:configChanges="orientation|screenSize" and list with sticky expandable headers. I verified flexible-adapter-app sample with
`
<activity android:name=".MainActivity" android:configChanges="orientation|screenSize">`
but after orientation change there is problem with size / blank expandable header (not all, some of them).

Expandable headers with disabled sticky headers a

[2017-02-20 09:20] CharuTulasyan commented on #183
@davideas setDisplayHeadersAtStartUp(true) is not working for me. I am still not able to add new headers in the list. Could you please elaborate how it will be fixed.

[2017-02-20 11:06] ketain opened #295 "[5.0.0-rc1] Items not notified on auto collapse"
**What is the version:**
5.0.0-rc1

**What is the goal:**
Adding down/up arrow icon to expandable headers to indicate the possible actions. The icons should alternate depending on the state of the header.

**The problem:**
Switching between these state is no problem as long as there autoCollapseOnExpand is deactivated.
If it is activated items are not notified when they are automatically collapsed

[2017-02-20 14:19] anaszakariyah opened #296 "AutoCollapseOnExpand(true) seems not notify the header"
Using setAutoCollapseOnExpand(true) will collapse others than current selected header. But the problem in here seems like the header is not notified about the changes by the adapter.

Expected: The section header should also be notified on collapse so the view will rendered again
Actual: Section header not notified only the items belong to the section changed

This is the flexible adapter example

[2017-02-20 14:26] anaszakariyah commented on #296
seems like the issue is similiar with #295

[2017-02-20 15:04] davideas commented on #295
Hello @ketain, I'll look into that when got some time.

[2017-02-20 15:05] davideas commented on #296
Hello @anaszakariyah, yes it's the same. I'll look into that when got some time.

[2017-02-20 15:05] davideas commented on #294
@arciszewskim, need more test on that, to see what's going on in the layout configuration.

[2017-02-21 15:34] volser commented on #259
@davideas Do you have any info about this feature? I saw your ToDo comments in code

I think this feature required some interface changes, so better to do this changes before release.

For, example onLoadMoreComplete required some direction param.
And what about progressItem? It's should be one or two items? How to set endless directions?

[2017-02-21 18:35] davideas commented on #259
@volser, I will keep the progressItem to be the same, just inserted at the top instead of the bottom.
Direction could be set as additional property or as parameter to an existing function.

Unfortunately, I'm focusing on something else (also in private life). It will take a while to analyse this mod.

[2017-02-21 18:42] davideas commented on #183
@CharuTulasyan, `setDisplayHeadersAtStartUp(true)` is only a startup configuration, then you need to prepare the list to pass to the Adapter, accordingly:

As explained in the Wiki and showed in the demoApp, the list you prepare should contain only the normal items without headers, when you set that configuration the adapter will display the headers too.
At the point of loading more, you add only

[2017-02-21 19:14] #292 closed

[2017-02-21 19:15] #276 closed

[2017-02-21 19:15] #283 closed

[2017-02-21 19:16] #286 closed

[2017-02-21 19:17] #290 closed

[2017-02-21 19:17] #291 closed

[2017-02-21 19:18] davideas commented on #287
I close for now, if you need more help, on these questions, please reopen.

[2017-02-21 19:18] #287 closed

[2017-02-21 19:22] davideas commented on #285
I close for now, if you need more help, please reopen.
For me this is not an issue in the Adapter.

[2017-02-21 19:22] #285 closed

[2017-02-21 23:59] #296 closed

[2017-02-22 00:02] davideas commented on #295
I've put a `notifyItemChanged(position)` but when collapsing all, 1 item doesn't receive the notification of collapsing that is for sure triggered at the right position. Any idea?

[2017-02-22 04:16] nluetkemeyer opened #297 "Empty (Invisible) Header Item when Using Sticky Headers"
I think I've found a small bug - which I was able to reproduce on your sample app. In my project, I'm currently using the SNAPSHOT version and displaying it on a Samsung Galaxy using API 23.

To put it simply, I have created a list with multiple headers, similar to "Headers and Sections" in your app. I've been using your library for a while and finally got around to testing different scenarios, so

[2017-02-22 09:00] davideas commented on #297
@nluetkemeyer, yes better a video. But does this occur in rc1?

[2017-02-22 09:40] anaszakariyah opened #298 "[Question] Understanding How to Use Animation"
hello @davideas. Thank you for this wonderful library. I am using this for my project. I am still newbie on Android Development. I have a question, hopefully you don't mind me asking too much.

How to set up animation on scrolling entry? Like how Google+ doing? They use slide item from bottom.

I am tracing the code app but I have difficulty to understand it.
The [Wiki](https://github.com/davideas

[2017-02-22 09:53] davideas commented on #298
@anaszakariyah, I thought that this page [Adapter-Animations](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Adapter-Animations) and [AnimatorHelper](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-AnimatorHelper) are well done. Have you checked them?

Your mechanism is already handled by the adapter, just configure the Adapter to enable the animation as described in the Wiki an

[2017-02-22 10:19] anaszakariyah commented on #298
So all you got to do is to implement AnimatedViewHolder on the ViewHolder item and set the rules using methods in [Adapter-Animations](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Adapter-Animations)?

Now it does make sense.

How about when you set recyclerView.setItemAnimator() using custom ItemAnimator? Does it handled the same?

[2017-02-22 10:47] davideas commented on #298
Almost: AnimatedViewHolder is to give unique animation to that view type only instead of using custom ItemAnimator for all view types when this is assigned to RV.
The scroll animation is achieved without AnimatedViewHolder.

[2017-02-22 13:11] anaszakariyah commented on #298
I saw OverviewPage code. The demo is giving example by overriding` FlexibleAdapter`. I was under impression that I only have to declare and implement flexible item model and leave the adapter alone. That's why I thought that I must implement `AnimatedViewHolder` to achieve scroll animation.

[2017-02-22 13:21] davideas commented on #298
Well, overriding the Adapter remains the alternative old option, and the call you see (`animateView()`) is manual, while with item delegation is automatic.
In both, you still need to activate animations and implement which animation you want in the VH.

[2017-02-22 13:50] szynka opened #299 "ClassCastException after click on expanded sticky header"
I think i found bug in latest commit "AutoCollapseOnExpand", sometimes click on expanded sticky header i've got ClassCastException:
[code]

[2017-02-22 14:40] ketain commented on #295
Sry for the late answer. I will be able to look into it tomorrow. Or maybe today late afternoon.

[2017-02-22 14:40] davideas commented on #299
Thanks @szynka, latest commit resolved in part the problem of notification of autoCollapse, but notifying before the delete notifications seems not good, so I inverted them.

[2017-02-22 14:43] davideas commented on #299
it doesn't occur anymore, I hope you can confirm.

[2017-02-22 15:55] lemonboston commented on #277
I just tried with disabling and enabling the sticky headers, like this:
[code]
It did solve the 'flash' when I haven't scrolled down before, the header is perfectly still in place. But it makes a small short glitch for the top header if I scrolled down already when adding the items on the top.

So maybe it could be combined with the hack I have currently, which is this by the way:
[code]
So maybe

[2017-02-22 18:22] davideas commented on #299
This issue still occurs, but it is connected to the resolution of 295, since it is part of the same development. So I keep closes anyway.

[2017-02-22 18:31] nluetkemeyer commented on #297
@davideas I've compiled rc1 in my project and it looks like the same thing occurs. Here is a link to the video of the situation...

https://www.dropbox.com/s/j5mh9cznxygwxxw/empty_header_flexible_adapter.mp4?dl=0

[2017-02-22 18:40] davideas commented on #297
Thanks for the video, I will work on it. I know what is causing that now.

[2017-02-22 18:54] ketain opened #300 "[5.0.0-rc1] repeated ValueAnimation effect in long lists"
**What was tried:**
Increasing the text size inside a textview by utilising ValueAnimation and decreasing it again. The former happens when expanding an expandableItem the latter when collapsing it again.

**What went wrong**
In a long list of items the effect of an increased text size was repeated by non expanded items. This is most likely an effect caused by the recycling of views. (My first gue

[2017-02-22 20:04] davideas commented on #300
@ketain, yes Adapter has `onViewRecycled()` to override, but you must call `super()`.

[2017-02-22 20:04] davideas commented on #295
Actually, I'm receiving `java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position` only when sticky header is enabled.

[2017-02-22 20:48] ketain commented on #300
Thanks for the fast answer :)

I didn't say so before but: This really is a great library! :)
Nahh I am bad at this but please feel complimented. 👍

[2017-02-22 21:34] #295 closed

[2017-02-22 21:38] davideas commented on #300
Thank you @ketain!

[2017-02-22 22:49] #299 closed

[2017-02-23 12:51] eemihauk commented on #291
@davideas
The `progressItem` is not automatically hidden if there is no delay given to the `onLoadMoreComplete()` method.

In the demo app the automatic hiding seems to work because the `onLoadMoreComplete()` method has a delay of `5000L` given to it in the `FragmentEndlessScrolling` example.

Here is the snippet from the `onLoadMoreComplete()` method of the `FlexibleAdapter` (from 5.0.0-rc1) that

[2017-02-23 13:07] davideas commented on #291
@eemihauk, removing the else condition should then work also when no items and no delay.

[2017-02-23 14:06] davideas commented on #294
@arciszewskim, can you try with the current version in master? I tried and I don't get your issue on rotation. (enable autoConfig).

[2017-02-24 16:50] korest opened #301 "[Question] Empty view"
Is it possible to set empty view while items are loading or error occurred ?

[2017-02-24 21:36] davideas commented on #301
@korest, you have full control on your empty view, but if you implement the callback with the if condition, it will change visibility accordingly. It might be good anyway.

[2017-02-24 21:38] korest commented on #301
Is there any example with it?

[2017-02-24 21:53] davideas commented on #301
There's an example in the demoApp, the emptyView is visible when filter returns empty list.

[2017-02-26 16:05] IHNEL commented on #217
+1 for support data-binding.

[2017-02-26 16:13] Christophe668 opened #302 "Allow to use custom LayoutManagers on the RecyclerView"
Hi,

I'd like to report a crash that happens while the library tries to bind a view if we use a LayoutManager different than a LinearLayoutManager or StaggeredGridLayoutManager.
This is happening on the version _5.0.0-rc1_ and _5.0.0-SNAPSHOT built on 2017.02.15_.

Here's the StackTrace I'm getting :

[code]

Thank you !

[2017-02-26 20:13] searchy2 commented on #120
Setting Up section of the Tutorial does not provide complete code to set up project. For example, in the initializing code, the code snippet is provided without context.
`// Initialize the RecyclerView and attach the Adapter to it as usual
recyclerView.setAdapter(adapter);`
Where should the initialization code be placed? How should "recyclerView" be declared? It would really help new users if all

[2017-02-27 07:01] IHNEL opened #303 "ClassCastException when the library call item's `onBindViewHolder`"
This is my first try on the library. I thought this is very awesome library, thank you.
I try to implement a sectionable recycler-view, spent 2 days to read through wiki and the example but can't fix the issue myself.
I initialize the adapter with null data-list then add one by one later. If I remove the setting `setDisplayHeadersAtStartUp(true)`, the recycler works without header. It shows data-i

[2017-02-27 10:57] davideas commented on #303
@IHNEL, this is not good:
[code]
Also `upcomingAdapter` should use a common item type, such as `AbstractFlexibleItem`, because you are using a multi-type list.

[2017-02-27 11:04] IHNEL commented on #303
Thank you for quick response. But sorry, I still don't understand what should I do. That `equals` return false since the items are different each others.
And, What do you mean regarding the `upcomingAdapter`? I want to create a collapsable + sticky header list. Where I can add different items inside. The items in a group are those have same property (such as type-id). What should I do ?

[2017-02-27 11:21] davideas commented on #303
@IHNEL, sorry but that is Java. `equals` compares different objects in a list or between them, if it returns always false, that object will never be picked up. Use can use default java implementation `return this == o`.
- Better to not alter the hidden property, it is used by the adapter internally.
- Header should implement `IHeader`, Wiki and demo are clear.
- You are adding one by one, but you

[2017-02-27 11:24] davideas commented on #302
@Christophe668, so ChipsLayoutManager doesn't extend from Linear.
Can you make it extend from it? What ChipsLayout does?

[2017-02-27 11:27] davideas commented on #120
@searchy2, I count that the users of this library knows how RecyclerView works, if not they should read more about it, since it is an official component of Android, not mine.

[2017-02-27 11:35] Christophe668 commented on #302
It's a external library I'm using to display content as a flow in a recyclerView:
https://github.com/BelooS/ChipsLayoutManager

There's also an equivalent developed by Google (still in development) : https://github.com/google/flexbox-layout/blob/master/RecyclerView.md

Which is also using a custom implementation of the LayoutManager :

https://github.com/google/flexbox-layout/blob/dev_recyclerview

[2017-02-27 11:38] davideas commented on #302
Then, I need to add new feature to give possibility to set a custom layout manager, so that doesn't occur, but I'm fear you can't use features like sticky headers or something else.

[2017-02-27 11:42] Christophe668 commented on #302
I understand if there are incompatibilities with other features.
I mainly use your library to help reduce boilerplate code with adapters :)

[2017-02-27 11:44] davideas commented on #302
@Christophe668, i will think about it.

[2017-02-28 12:58] alex-marochko opened #304 "Persistent Scrollable Header"
Hi. Thanks a lot for your lib!

Question: is it possible to add header that will be persistent, i.e. independent of main data updates?
I need a scrollable header containing MapFragment, so I'm adding it after every `updateDataSet()`. The problem is that header is resource expensive and it blinks when data is refreshing.

[2017-02-28 13:08] davideas commented on #304
@alex-marochko, can you check properties in RV like: not recyclable and stable ids?
Are you using `updateDataSet()` with animation or without?

[2017-02-28 14:39] alex-marochko commented on #304
@davideas , thanks! It works (changed stable IDs to true).

[2017-02-28 14:40] davideas commented on #304
@alex-marochko, be sure you have unique ids everywhere for the items.

[2017-02-28 22:14] davideas commented on #39
New **5.0.0-SNAPSHOT** has been published.

**Improvements**
Resolved #293 - getItemViewType now returns zero when item not found.

**Fixes**
Fixed #299 - ClassCastException after click on expanded sticky header when AutoCollapse is enabled.
Fixed #296 - AutoCollapseOnExpand(true) seems not notify the header.
Fixed #295 - Items not notified on auto collapse (using normal List instead of Hash to av

[2017-02-28 22:16] #298 closed

[2017-02-28 22:16] #300 closed

[2017-02-28 22:16] #301 closed

[2017-02-28 22:16] #303 closed

[2017-02-28 22:16] #304 closed

[2017-03-01 03:39] searchy2 commented on #120
@davideas I did not understand that this library was just an Adapter extension. I thought it was a complete RecyclerView replacement. My mistake!

[2017-03-01 03:59] searchy2 opened #305 "QUESTION: How to Add Multiple Item/View Types to RecyclerView?"
I am creating a notes application and would like to display text notes and image notes in the RecyclerView using Flexible Adapter. How should I pass multiple view types to Flexible Adapter?

My current implementation is as follows:
1. I have a NoteItemViewHolder that extends AbstractFlexibleItem for text notes.
2. I have a ImageItemViewHolder that extends AbstractFlexibleItem for image notes.
3. I

[2017-03-01 08:27] pkleczko opened #306 "Wrong scroll animation start delay calculation for first invisible item"
There is a problem for scroll animations with start delay for each item. First invisible item has higher delay then next items and as a result second and next items appear before first item. It depends on scroll position so not always can be reproduced. Rather for small invisible items left then long list. See pictures below.

![second_item_already_animated](https://cloud.githubusercontent.com/ass

[2017-03-01 09:32] szynka commented on #294
Confirm issues still exists in master branch, try rotate and scroll several times (enable autoConfig, and open Expandable Sections + Sticky Headers), and You got it.

[2017-03-01 09:43] preyesm opened #307 "Dual headers for a section item"
Hi @davideas, I wanted to develop a google calendar kind of view, which has month name as main header and then weekname/date as secondary header for any section item. So whenever an event comes in it goes into specific header automatically. Can this be done with the current implementation of your library?

[2017-03-01 10:28] pkleczko commented on #306
unfortunately, this small fix is not good beacuse first items are animated without delay.

[2017-03-01 12:53] davideas commented on #305
@searchy2, in order.
Yes you need multiple types. I understood you don't need to regroup them.
- I would not call XXXViewHolder the item that extends AbstractFlexibleItem. That is the ViewHolder. Just call the items NoteItem, ImageItem, and create an inner class for ViewHolder with name NoteItemViewHolder etc.. Watch my demoApp.
- I remind you that those items are mainly designed for presentation

[2017-03-01 13:13] davideas commented on #306
@pkleczko, for the startup the code is tricky, because the child view number increases one by one as soon as, the view is bound, so all the child views inside the RV are unknown until the screen is filled. Moreover, 2 or 3 views out of the screen are bound by RV anyway even if they are not visible!

However, i fixed all the particular cases, that should not happen, maybe show me the code of your c

[2017-03-01 13:18] davideas commented on #307
@preyesm, this library can support multiple header views, but only one can be sticky per time.
You can create an expandable item (with expandable=false by default) which is the main item(the month header possibly not sticky), then each child of the same week, has another header inside so that these can be sticky.
It's a bit complicated, you can give a try however.

[2017-03-01 13:32] pkleczko commented on #306
@davideas below code, but it's based on your example. what is more bug is reproducible in your example app I think. just set "android:configChanges="orientation|screenSize"" for .MainActivity, in ItemAnimators section expand section or two and change orientation. I think it's becouse of position of the scroll that once gives 0 as first visible item and for next item it is 2 (Utils.findFirstComplet

[2017-03-01 16:32] davideas commented on #306
@pkleczko, the duration has a little bug that I just verified at lines 400-401 of `AnimatorAdapter`.

It seems that the `lastVisiblePosition` returned by `findLastVisibleItemPosition()` is lower than position just bound, only when portrait is visible again (because more items fit in the screen).

Did you try in your app to remove automatic configChanges? in my demo App there's a bug (not in the li

[2017-03-01 16:36] davideas commented on #294
@arciszewskim, I did it but I cannot reproduce it. I'm using API 21 on SamsungS5 now, I will check with emulator on latest API.

[2017-03-01 16:42] pkleczko commented on #306
I think it's not related to orientation change. I put it as an easy example how to reproduce this in your app. In my app it occurs at the first time, when I scroll down and have few items out of view port. But have no idea how to resolve it.

[2017-03-01 16:54] luweglinski commented on #294
@davideas I make video maybe this would help you:
[https://www.dropbox.com/sh/xgug4xk51nfji3b/AAD80UWSxC96dvvN5-ACms9ja?dl=0](url)

[2017-03-01 22:08] davideas commented on #306
@pkleczko, enableLogs and uncomment the logs in `AnimatorAdapter.calculateAnimationDelay()`, you can check the data of each animation, to me it doesn't happen at the first start up, only after the 2nd rotation which is technically normal.

Also I fixed the duration.

[2017-03-01 22:26] #297 closed

[2017-03-01 22:28] davideas commented on #297
@nluetkemeyer, for me should be resolved. Would you check?

[2017-03-01 22:38] davideas commented on #294
@luweglinski, I'm rotating, scrolling, expanding with sticky heeaders and autoConfig, but still nothing.
It seems a very exceptional case after consecutive rotation and expanding, which is not realistic for a normal user (I think). So it is not deterministic.

What I have is the drag handle that disappear sometimes when back to portrait view (probably the header gets bigger width).

[2017-03-02 06:15] nluetkemeyer commented on #297
@davideas yes, that worked! Thanks.

I just have a question, so I won't open another issue. I've created a table using HorizontalScrollViews in each of my headers and items (with vertical RecyclerView). Using a simple listener, I sync and scroll them all at once when any one of them are scrolled individually.

Problem is, all positions less than scroll position have some lag or delay when scrollin

[2017-03-02 08:55] luweglinski commented on #294
The problem is more visible if title has gravity center. When I searching for solutions for issues, I commented out null check in getHeaderViewHolder so always create new one, and the issues disappeared, but then click on sticky header not notify in adapter.

[2017-03-02 10:17] davideas commented on #297
Fortunately you put a video otherwise I couldn't understand.
The delay is unnoticeable from here, you also have a lot of views to render, depends also the speed of your phone.

[2017-03-03 22:44] davideas commented on #294
@luweglinski, I've finally reproduced it, but still it occurs random.
However I've put a patch, could you check?

[2017-03-04 07:32] IHNEL opened #308 "Filter with multiple selection mode"
Hi,
I am using the Filter feature within Multiple Selection.  They work fine separately, but there are issue which can't persist selected item across filtering. for eg, if I select several items, then type a keyword for filter, then select some new items, then clear keyword. What I expected is the method `getSelectedPositions()` should return exactly index of selected items. Am i wrong in this sit

[2017-03-04 19:41] davideas commented on #308
@IHNEL, or you select items or you filter, at least you can select items after filter, but you can't have selected items if you clear filter, because clearing filter will alter the selected positions.

What you want is to filter multiple times and keep the selection when occurring? For sure the ActionMode should not cover the SearchView, which actually it does in my demoApp.

[2017-03-05 01:34] IHNEL commented on #308
Yes, after i clear the key string, the list of item changed and the selected items are not same with before.

I am creating a task management app and this is screen to select participants. User will open this screen with many contacts. They may search 'john' and select john, then search 'peter' to select peter. Both selected contacts must persistent.
Btw, this screen similar Whatsapp participants

[2017-03-05 14:57] faridfor opened #309 "get header size in expandable adapter"
Hi.
I need to check my HeaderItem (extended fromAbstractHeaderItem) is the last item or not (first item can be checked with position = 0 but for last one?)  I need to find Header items size (should I pass the size and save it my self or is there any way to get it from adapter?)
`

    @Override
    public void bindViewHolder(FlexibleAdapter adapter, ViewHolder holder, int position, List payloads)

[2017-03-05 16:14] IHNEL commented on #308
@davideas Any idea to resolve this?

[2017-03-05 19:49] rabipelais opened #310 "Is there a way to get the topmost visible header?"
Say the list looks like this:

**header 1**
item 1
item 2
**header 2**
item 3
\=====================
item 4
**header 3**
item 5
item 6
\=====================

and only things between the lines are currently visible on the screen. Is there a way to get the Header of the topmost visible section? In this case that would be header 2.

[2017-03-05 22:13] searchy2 commented on #305
Thank you for this very helpful explanation. I have worked a bit more with the adapter and it is becoming easier for me to understand. Much thanks for the help!

[2017-03-05 22:13] #305 closed

[2017-03-06 08:07] IHNEL opened #311 "How to find adapter position from outside of adapter"
Dear,
I using this library to build my contact list.
I want to show contact under groups that show first letter of inner contacts, e.g. group A contains all contact with name start by `A`. So, I use Sticky Header to display the groups.
For example I display 1000 contacts. For some reasons I want to update the View corresponds to the data-item at 500. Unfortunately, the Recycler view item at 500 do

[2017-03-06 10:36] luweglinski commented on #294
I think it's work good right now, i can't reproduce it anymore.
@davideas  Thanks for your time and help!

[2017-03-06 14:48] arpinca commented on #34
hello! the FastScroller is awesome :D i plan to use it on my application but i need to customize it a bit more i.e. set the handle color, bubble position, autohide, etc. preferably via custom attributes. if you're interested, i can try to make a PR

[2017-03-06 15:40] Marc1510 opened #312 "Header not sticky after using nested sections"
Hi,

I'm trying to create a list with a single header and nested sections. The single header should always be on top of the contents. I used this library before, but for some reason it is not working right now.
Right now I have 3 viewtypes:
- AddProductItem which should be the sticky header
- HeaderItem which is a sectionheader
- DefaultItem which is just a default item.

The logs do say that a st

[2017-03-06 15:45] Marc1510 commented on #312
And for completeness, also the log:
`03-06 16:44:15.521 20052-20052/nl.fleurametz.mobile.acc.dev I/FlexibleAdapter: Running version 5.0.0-rc1 built on 2017.01.14
03-06 16:44:15.521 20052-20052/nl.fleurametz.mobile.acc.dev I/FlexibleAdapter: Initialized with StableIds=false
03-06 16:44:15.521 20052-20052/nl.fleurametz.mobile.acc.dev I/FlexibleAdapter: Set stickyHeaders=true (in Post!)
03-06 16:44:1

[2017-03-06 15:57] davideas commented on #34
Hello @arpinca, thank you for your message, indeed FastScroller needs more customization.
Actually shapes and colors can be customized by creating a layout with same id the FastScroller is setting, but you can do better.
Autohide is something really nice, i will appreciate your effort. You can indeed create a PR.

[2017-03-06 21:45] davideas commented on #311
@IHNEL, either in you want to do programmatically or when user clicks on it (saved the reference somewhere or the ID), you work with unique IDs, and custom implementation of `equals()` method, so that when you call `getGlobalPositionOf(item)` that item can be found in the List and index returned.

You have to have the item object with the ID you want to update, the rest is done by Java itself when

[2017-03-06 21:53] davideas commented on #310
@rabipelais, you have few methods:
- `getHeaderOf(item)` if you know the item
- `getSectionHeader(position)` if you know the position.
For position you can call library `Utils` class `findFirstCompletelyVisibleItemPosition()`.
Also `isHeader` can help you understand if the item is a IHeader already or not.

[2017-03-06 22:03] davideas commented on #309
@faridfor, if you check `position = 0` you can also check the last position, that item binding is only for that item and not for anything else, so if you check `position = adapter.getItemCount() - 1`  you have the last position to check for that item.

Are you sure you don't want to use the new feature Scrollable Headers and Footers? check the Wiki.

[2017-03-06 22:27] davideas commented on #308
@IHNEL, what I can suggest is to override FlexibleAdapter method toggleSelection (I guess you call this method when user clicks on ViewHolder), so you can save and remove your own selection as item reference in your own Set (not List), and have a method called `getSelectedItems()` which returns always the list of the overall selections between the filters.
Also you need to override properly the me

[2017-03-06 22:35] davideas commented on #312
@Marc1510, can you try to remove the ISectionable interface from HeaderItem?

[2017-03-06 22:48] davideas commented on #277
@lemonboston, sorry, I need some time to reproduce, actually I do not have so much.

[2017-03-07 01:23] IHNEL commented on #311
Hmm what i have is the index of data only. Mean the contact at index 500 of the contact array. Want to find the view item in the adapter for that item

[2017-03-07 07:41] IHNEL commented on #308
thank you @davideas. Seems this is the only way, I will do this

[2017-03-07 07:41] #308 closed

[2017-03-07 08:30] Marc1510 commented on #312
@davideas I just tried that, the objects are now as following:
HeaderItem extends AbstractExpandableItem<HeaderItem.ViewHolder, AbstractFlexibleItem>
public class DefaultItem extends AbstractSectionableItem<DefaultItem.ViewHolder, IHeader>
AddProductItem extends AbstractHeaderItem<AddProductItem.ViewHolder>

I saw these classes implemented some logic already so I didn't need to implement them myse

[2017-03-07 08:33] davideas commented on #312
@Marc1510, can you make a list here to show which items contains what and which should be sticky and expandable?

[2017-03-07 08:37] Marc1510 commented on #312
@davideas of course I can!
The list should be:
- AddProductItem > always sticky on top of the list
- HeaderItem > should be a section which can expand/collapse with sub-items
- DefaultItem > Just a normal item which should be able collapse/expand under the header item above.
- DefaultItem (possibly more of these)
- HeaderItem > section which can expand/collapse the underlying DefaultItems
- Defaul

[2017-03-07 08:48] davideas commented on #312
@Marc1510, so the types are:
AddProductItem: AbstractHeaderItem
HeaderItem: AbstractExpandableItem implements ISectionable
DefaultItem: AbstractSectionableItem
[code]

But I would rename HeaderItem to SectionItem since it makes confusion which is the real header (AddProductItem) and which is the sub-section with the default items.

I think it should work, can you try?

[2017-03-07 08:57] Marc1510 commented on #312
@davideas that is correct indeed.
I just tried it, however it does not work. The sections can be expanded/collapsed, the DefaultItems are correctly shown, however the sticky header is not yet sticky.

Just for completeness I will add the adjusted viewholders/code to setup the adapter here as well.
StickyHeaderItem:
`public class StickyHeaderItem extends AbstractHeaderItem<StickyHeaderItem.ViewHold

[2017-03-07 10:10] davideas commented on #312
@Marc1510,
[code]

[2017-03-07 10:22] Marc1510 commented on #312
@davideas thanks! That did solve the issue. I do however have one question left, isn't it weird that the 'header item' would not be added to the items?

[2017-03-07 10:35] davideas commented on #312
The header item normally is a logic item to group others main business items. True that you are using header as AddProductItem. probably you can add it to the layout directly on the top of the RecyclerView.

The logic items are managed all together by the Adapter, I had to find a way also to not duplicate items at the startup. Sticky helper checks if headers are displayed with the boolean headersS

[2017-03-07 11:38] Marc1510 commented on #312
Unfortunately I do have to add it in the layout for some specific reasons. However the explanation does make sense. Thanks a lot!

[2017-03-07 11:38] #312 closed

[2017-03-07 11:59] lemonboston commented on #277
No problem, I understand of course, thanks anyway for the tips.
I've applied some of these hacky workarounds, they cover now almost all of our anomalies.
But if you think you may have time for it some time in the future so you would keep this open, that would be great, the proper solution might come useful that time, too.
(If we didn't need it any more, I try to keep in mind to come back here and

[2017-03-07 22:17] #294 closed

[2017-03-08 11:32] henengel opened #314 "First Sticky header remains sticky and following header do not replace it"
Hi there,
First I would like to congratulate you on very impressive work!
One remark if I may.
I am relatively a new dev, and the current sample app is very difficult to understand.
It would be helpful if along with the current app that shows the full potential of the adapter, there would be a simple one that shows basic setup. I covered several times the wiki pages and couldn't find all of my ans

[2017-03-08 17:25] rabipelais commented on #310
Thank you, this works exactly as requested.

[2017-03-08 17:25] #310 closed

[2017-03-08 18:10] henengel commented on #314
Also noticed that after scrolling down, when scrolling back up, the section are missing.
![1l0vh5](https://cloud.githubusercontent.com/assets/13081692/23717122/44629e9c-043b-11e7-8537-0bb926d83254.gif)

[2017-03-08 18:52] davideas commented on #314
@henengel, thank you for your congratulations!
So coming to your configuration, the equals method doesn't check the uniqueness as they should do. `itemType` value will be repeated in several items, this will cause not finding all items in java.util.List.
Try this first.

Then, the item web should also belongs to the same section, you need to add section as well. I don't remember well now, but if t

[2017-03-09 21:23] mikeKickserv opened #315 "Adding improved swipe capability"
I know swipe to dismiss is built into the library. Is there the capability to add swipable cells similar to this library? Currently I am using both libraries in my project and it would be great to have just one library.
https://github.com/daimajia/AndroidSwipeLayout

[2017-03-10 09:26] davideas commented on #315
@mikeKickserv, thank you for your message! I will need to study that library to not reinvent it, as I just saw it is possible to include key classed in my code.
Anyway, it will require big amount of time, which now I do not have. I will not put any milestone for this improvement.

If you want, you can start to create a branch to merge the 2 libraries only for the RecyclerView.

[2017-03-10 13:28] IHNEL opened #316 "Crash during filter"
This is randomly crash and hard to duplicated, but I want to track here and hope you take a look.
It occurred while I typing the keyword to filter my long list.
[code]

[2017-03-10 13:34] davideas commented on #316
@IHNEL do you pass the copy of the original list to the filter method?

[2017-03-10 13:36] IHNEL commented on #316
Yes of course. Now I have good understanding your lib and use it for fews screen. They work fine. Just crash 1 time and be tracked by crashlytics on my client's devices.

[2017-03-10 16:08] henengel commented on #314
@davideas  Thank you for your time and reply.
As for the problem I mentioned in this ticket, the issue was indeed the ID.
Giving each item a unique ID solved the problem.
Now I went on and started to implement FlexibleAdapter in my real project.
Doing so, I encountered 2 new issues.

1. I'm trying to set an animation on scroll (identical to your on scroll animation in Headers and Section in your s

[2017-03-10 16:34] IHNEL commented on #316
I am using feature `5.0.0-rc1`:
 `compile 'eu.davidea:flexible-adapter:5.0.0-rc1'`

[2017-03-10 18:07] davideas commented on #314
@henengel, about your first issue, I tried your exact order of configuration even from `onCreate` but to me it still works! I think, it is your special layout manager that preloads the VHs and it binds them.
However, initialize the adapter and RV in the `onActivityCreated()`.

Then you don't need DiffUtil at all, just call `mAdapter.updateDataSet(new list copy)`.

About your second issue, this see

[2017-03-10 19:31] henengel commented on #314
@davideas About my first issue, you were correct. By changing the layout manager, the animation started to work.

As for my second issue:

You are correct.

When you say "another reference", by creating another adapter, don't they get another reference?
(Forgive me for the noob question).

In my case, every Section and it's few items represent a category with dedicated items in that category.
My c

[2017-03-11 09:54] henengel commented on #314
@davideas Hi, I think I issue has something to do with the ID's.
For some reason the Section gets a new ID when opening it for the second time hence resulting in 2 Sections.
I will keep going over the issue and of course update here for anyone else once the issue is solved.
I would still like to make a donation, so waiting on your reply.
Thank you.

[2017-03-13 06:13] mfarrukh opened #317 "OnItemClick listener in a Fragment not working"
public class Favorite extends AbstractFlexibleItem<Favorite.FavoritesViewHolder> implements
        IFilterable, Serializable {

    private int id, age;
    private String name, email, gender, iconTxt, iconColor, distance, accountStatus, lastSeen;

    public Favorite(int id, String name, String email, int age, String gender, String iconTxt, String iconColor,
                  String distance, St

[2017-03-13 09:57] davideas commented on #317
@mfarrukh, can you explain a little bit?
You should try to override the click listener in the ViewHolder to put your logs. Also put logs in your listener implementation, finally enableLogs of the Adapter: try to check where is not propagated the listener.

[2017-03-13 10:00] davideas commented on #316
@IHNEL, this is almost impossible to reproduce it. Let me know if you receive it often. Maybe it should be interesting to know if you also modify the List in your code, but also having more logs on what the user was doing...

[2017-03-13 10:04] davideas commented on #311
@IHNEL, the array of data is your list? if so you have the object already with that ID inside, you just need to call `getGlobalPositionOf(item)`.
To have the ViewHolder, you can use the RecyclerView API.

[2017-03-13 11:21] ahmedkhan23 commented on #285
@davideas actually I had to take a break from this issue, now I am back at it. Putting in breakpoints in my SectionItem I noticed my "equals()" method is never called.

Forgive me, I just don't know what I am missing.

Here is my repo again, adapter init code is in MainActivity

https://github.com/ahmedkhan23/android-samples/tree/master/FlexibleAdapterDemo/app/src/main/java/com/ahmed/flexibleadapt

[2017-03-13 11:26] ahmedkhan23 opened #318 "[QUESTION] What would prompt "equals()" in AbstractItem to not be called ?"
Referencing #285 .
I couldn't re-open the issue.

I noticed my "equals()" method in my SectionItem which extends AbstractSectionableItem<> is not being called and I am stumped as to what I am missing when initializing my adapter.

[2017-03-13 13:48] davideas commented on #318
@ahmedkhan23, the `equals()` method is used everytime the object is compared to another one, so it happens all the time in a java.util.List when you get an item. If you don't have an unique ID value for your item, then you can use default java implementation: `return this == o`.

[2017-03-13 14:06] ahmedkhan23 commented on #318
@davideas in my implementation for my SectionItem it is never getting called

[2017-03-13 14:25] wiltonbarros commented on #314
Hi friends, i'm try to implement a Sticky Header in a Recyclerview, i need a full sample how to do this.
Thank you.

[2017-03-13 14:41] wiltonbarros opened #319 "Sample Sticky Header in Recyclerview"
Hi there.
Congratulations for your continuous work.
I need a full sample how to implement a Sticky header in a recyclerview.
Today i have a recyclerview with header where i separate in two lists, i have two layouts, one for the header and other for the items.
I'm using the appcompat to implementation.
Thank you.

[2017-03-13 15:19] davideas commented on #318
@ahmedkhan23, it's Java, so it is called. Read this article: https://www.sitepoint.com/implement-javas-equals-method-correctly:
Try to put some logs in it, but of course when you retrieve from a list you should search it correctly.
If you put log you will see it will be called tons of times!

[2017-03-13 15:33] davideas commented on #314
I mean another adapter item reference, each adapter displayed simultaneously should have items with their own flags.

I see 2 ways, now you display a big item with a fragment in it with another recyclerview in it. One solution is to use the category as expandable that contains subitems, you start with all items collapsed. Another solution is to open a new activity from a side that enters as a subf

[2017-03-13 15:58] ahmedkhan23 commented on #318
@davideas my equals method in SectionItem is not called when the adapter/recyclerview are being setup. It is only called when I remove an item from the adapter.

Is this expected ?

Put logs/breakpoints/ checked your sample app. In your sample app the equals method is indeed called when the recyclerview/adapter are first being setup - at least what I could gather by using breakpoints.

[2017-03-13 16:06] davideas commented on #318
Yes.
My sampleApp builds the initial list differently than yours I suppose.

[2017-03-13 16:20] ahmedkhan23 commented on #318
@davideas even when I do a proper implementation of equals() method, the regular Java implementation of "return this == o" - I am seeing the issue of my views being recycled in different positions as I scroll up and down my list. Can't pinpoint the error for the longest time.

[2017-03-14 19:45] ahmedkhan23 commented on #318
problem was in my bindView() ... I had an if clause but no "else", so the settings from the "if" were being applied to other view holders as I was scrolling up and down ...

[2017-03-14 19:45] #318 closed

[2017-03-14 21:01] henengel commented on #314
Fixing the id's didn't solve the issue.

If I understand correctly this is already implemented.
When creating a Section fragment, a new adapter with new item references is created.

Can you elaborate on the Iholder interface?
Should my Abstract flexible item implement it? Or only
AbstractHeaderItem/
AbstractItem<BigArticleViewHolder> implements
        ISectionable<BigArticleViewHolder, SectionIte

[2017-03-15 07:17] henengel commented on #314
@davideas After debugging a bit, I found that the double Header item is probably a result of not preparing the data for the adapter properly.
I will try to explain the whole flow and attach my code.
Work flow:
Every time a Section/Header is clicked, a request is sent to a server to get all the relevant items for that Section.
- When getting back the response, the first item of the response is alwa

[2017-03-16 04:08] IHNEL commented on #316
Hi @davideas
This happen many times and I found the root cause. While I was pulling down the data list and append to the adapter, if user type to filter it will crash.
Which I do to fix my side is block the filter feature until I got the whole data list. But I hope you got a better way.

Thanks.

[2017-03-16 10:02] davideas commented on #316
Because I cannot test as you do, try to create the list as `Collections.synchronizedList(list);` and see if it resolves the issue?
If it works I will add it in the `FilterAsyncTask` class.

[2017-03-16 10:27] davideas commented on #316
@IHNEL, sorry, can you try it anyway to wrap your list with synced list?

[2017-03-16 11:30] davideas commented on #319
@wiltonbarros, thank you for the message!
A step by step example doesn't not exists (yet!), best way is to read first the wiki for _setting up_, _item interfaces_ and _sections and headers_.
Then you can take code snippets from the demoApp.

[2017-03-17 08:16] ILikeYourHat opened #320 "Issues with sticky header"
Hi,
I have some problems with the sticky header feature, used together with expand/collapse behavior

1. Sometimes the sticky header view losses it's background. It's nearly impossible to provide steps to reproduce this, you need just to drag, expand and collapse random list headers for a while.

2. Sometimes the sticky header is not shown correctly. Steps to reproduce:
- make an sticky adapter wi

[2017-03-18 08:53] henengel commented on #314
@davideas Hi, it's been a while since we last communicated.
In the meantime, I managed to fix the issue (not a proper one but it will do until you give me your input and/or fix the issue if there is one).
I simply added a method in the Section/Header fragments that checks of the first item of the dataset is an instance of SectionItem, and if so then remove it.
Also, as to your offer, I stopped usi

[2017-03-19 13:55] davideas commented on #320
@ILikeYourHat, could you please check if those issues are still present when you use the Snapshot version? Have a look at the last post of #39.

[2017-03-19 19:38] ILikeYourHat commented on #320
2 and 3 are still present, for 1 I've found a workaround (wrapping item with FrameLayout), so I am not sure. I will check this tomorrow and let you know

[2017-03-20 14:18] ILikeYourHat commented on #320
Yup, 1 is present too.

[2017-03-20 15:30] pkleczko commented on #320
Hi, I also face issue 2 with disapearing sticky header when you collapse it after you scrolled its section up and  down.
1) Expand sections
2) Scroll up till section B become sticky
3) Scroll a litte down
4) Collapse section B
Sticky header for section B disaapeares.

Any fix for this issue would be very helpful.

[2017-03-22 07:25] henengel commented on #314
@davideas Hi is everything OK? you haven't responded in a while...

[2017-03-22 08:54] henengel opened #321 "Exclude item from update"
Hi, I already have an open ticket, but since the is a separate question, I thought I would open a new one.
I have a recycler view with multiple item types. One of these types is DFP banners.
These specific items don't play well with a recycler view. Hence I would like to exclude them from updating.
Is there any way to do so?
Thank you

[2017-03-22 09:19] davideas commented on #314
Sorry @henengel, got other stuff more urgent to do in real life :-) everything is ok, by the way!

[2017-03-22 09:31] henengel commented on #314
LOL, I'm sure you have!!!
For some of us, this adapter is the real life :).
I don't mean to bother you, It's just that my app launches in a couple of days, and I would like very much to use your adapter in it, though currently, I can't unfortunately.
That's why I tried you again.
To most of the issues in this ticket, I managed to find a workaround, except for one (I opened a new ticket about it si

[2017-03-22 09:36] davideas commented on #321
@henengel, I was thinking something similar to your proposal: a new method for the item interface so it will get update if requested, but I need to review how the update is made, because now you get updates caused by headers redisplayed at the end of the process.

You can however try this:
Be sure to use _unique id_ for all of your items, so you can enable _stableIds_ in the Adapter constructor. D

[2017-03-22 09:41] davideas commented on #314
@henengel Ok, I gave you a possible solution in the new issue (#321).

[2017-03-22 09:49] henengel commented on #321
I think using stable id's did the trick.
Again thank you very much.
I have quite a unique use case of your adapter. (7 view types with DFP integrated and other goods).
If you would like to use it in order to improve your project or/and you need more information about the issues open in ticket #314 , don't hesitate to contact me.
I hope I won't have to bother you again.
Have a good one.

[2017-03-22 10:36] #307 closed

[2017-03-22 10:36] #309 closed

[2017-03-22 14:38] davideas commented on #34
@arpinca, I've successfully imported your improvements in the new branch.
My next step is to improve as well the configuration. My idea is to pass only the FastScroller object already configured in advance, like the layout manager. So I will need to clean a little bit some settings.

[2017-03-22 14:40] davideas commented on #217
Still waiting somebody that wants to test and verify this new improvement.

[2017-03-22 15:39] davideas commented on #320
@ILikeYourHat, @pkleczko, thanks, I will verify the issues n.1-2. Unfortunately, I am quite busy on something else more urgent than this.

@ILikeYourHat Regarding the point 3) you should call `isExpanded()` when the item is bound (in `bindViewHolder`). You can enable the automatic rebound of the expandable by overriding `ExpandableViewHolder.shouldNotifyParentOnClick()` please check [ExpandableHea

[2017-03-22 16:20] davideas commented on #320
For point 2) I got illumination, basically, the issue derives from the technical scrolling when items disappear... To fix, temporary override collapseView until I publish the snapshot as following:

[code]
If you have a better idea please advice.

But this introduce another little glich: basically scroll to have the sticky header (B) almost to the end of child 2. Then you expand, sometimes you wil

[2017-03-23 04:41] Sullen opened #322 "getSectionItemPositions()，Does it work ?"
@NonNull
	public List<Integer> getSectionItemPositions(@NonNull IHeader header) {
		List<Integer> sectionItemPositions = new ArrayList<>();
		int startPosition = getGlobalPositionOf(header);
		T item = getItem(++startPosition);
		while (hasSameHeader(item, header)) {
			sectionItemPositions.add(++startPosition);
		}
		return sectionItemPositions;
	}

This should be an infinite loop.

[2017-03-23 08:39] arpinca commented on #34
Hi @davideas, thanks.

Cool. This would make using FastScroller easier, especially when not using the adapters here. In my case, there's already an adapter class which I can't easily change, and I only need the FastScroller, so ...

Btw, I also have other improvements in mind, like
- extracting the animation to another class
- ignore the accentColor, and simply rely on the color specified in the d

[2017-03-23 09:43] davideas commented on #322
@Sullen, indeed it is in loop :-(
Not used, not tested. I'm going to fix it, since it is easy.
To use it you need to wait next Snapshot!

[2017-03-23 10:02] #322 closed

[2017-03-23 10:12] davideas commented on #34
@arpinca, check what I've committed yesterday in _customizable_fastscroller_ branch: Color as attribute is done by me.

So you can start from that commit.
- Ok, for the gap, but you can add a new public method, because `setBubbleAndHandlePosition` is only for Y coordinate (scrolling).
- Animation as different class, what do you mean?
- Delegate for which operations?
- Do you think we can programma

[2017-03-23 15:28] inorichi commented on #34
Would it be possible to make the bubble optional? I have a particular use case with a lot of elements in no particular order, and I think showing the index in the bubble is more confusing than helpful, but I still want to provide a quick way to scroll the entire list.

[2017-03-23 15:30] davideas commented on #34
@arpinca, indeed it can be optional.

[2017-03-24 08:50] henengel opened #323 "Double first sticky header"
@davideas Hi David, sorry to bother you again...
It's just I keep bumping into one of the issues mentioned in ticket #314, and I was hoping you can give me some options on how to solve it.
As mentioned there, when opening the Section pressed, A new RecyclerView is created with the relevant items for that Section. After closing the Section RecyclerView, returning to the main RecyclerView, and then

[2017-03-24 09:25] davideas commented on #323
@henengel, can you try creating a copy?
[code]

[2017-03-24 09:44] henengel commented on #323
I think it did the trick.
Sounds like a good idea to create a copy inside.
I don't know about other ppl, but I personally went over your wiki several times, and for me it wasn't clear exactly when/where to pass a copy of the original dataset. Though I can indeed see now on your part that you try your best to pass this point across, for me as a beginner dev it wasn't that clear or easy to implement

[2017-03-24 10:20] davideas commented on #323
@henengel, thank you!
I have spare free minutes today.

[2017-03-24 10:20] #323 closed

[2017-03-24 11:07] davideas commented on #316
@IHNEL, I'm trying to reproduce this issue, I need your help. Can you provide me a way to reproduce it?

[2017-03-24 11:37] IHNEL commented on #316
@davideas ,
I didn't got this crash in my phone also. but It occurred  in my client's Samsung Galaxy S6 very often. The log was catch by Crashlytics as above.
I asked him and I guess the data list on his phone is very long ( The feature is load the phone contact list). It's need a while to read and append 1 by 1 to the recycler view. On the same time, he entered some words to filter the contact li

[2017-03-24 11:55] IHNEL commented on #316
This is the class to load the Phone Contact in my app:
[code]

I create my adapter, extend the `FlexibleAdapter` with below constructor:
[code]
whenever I receive a contact from `PhoneContactProvider`, call `mContactAdapter.addItem(contactItem);` as well as `originalContactList.add(contactItem)`

When user enter the keyword to filter,
[code]
[code]

[2017-03-24 13:56] davideas commented on #316
@IHNEL, it looks like same issue of a #323.
When _instantiating, updating, filtering_, you always need to pass a copy of the original list, just because the adapter modifies that list (for instance while expanding/collapsing, display headers, filter out items), while you shouldn't touch it anymore because normally you have your own original list in memory to rely.
[code]
As said in that issue, may

[2017-03-27 01:59] arpinca commented on #34
yeah, i agree that the bubble should be optional.

Hmm I prefer using resources so that I can use whatever shape i want, or update the layout by simply editing the xml. i.e. if I want the handle to have curved edges, or if i want to add another textview in the bubble, or change the horizontal gap between the bubble and the handle

OK! I'll send a PR soon :D
For the gap, I mean vertical gap. e.g. w

[2017-03-27 05:49] henengel opened #324 "java.lang.IllegalStateException: onCreateViewHolder() is not implemented. If you want FlexibleAdapter creates and binds ViewHolder for you, you must override and implement the method .createViewHolder(). at eu.davidea.flexibleadapter.items.AbstractFlexibleItem.createViewHolder(AbstractFlexibleItem.java:144)"
Hi David,
I keep getting this issue from crashlytics.
I double and triple checked all items and all except the super class that all items inherit from, implement onCreateViewHolder().
I can't say why or how to reproduce the issue. Any idea what the issue could be?
Is there any info I can share with you that could be helpful?

Full report:

       at eu.davidea.flexibleadapter.items.AbstractFlexibl

[2017-03-27 07:59] davideas commented on #324
@henengel, onCreateViewHolder is not overridden (and shouldn't if you use automap with item interfaces) but  createViewHolder (from your item) is not implemented.

[2017-03-27 07:59] #324 closed

[2017-03-27 08:21] henengel commented on #324
Can you elaborate on the automap with item interfaces? Or if it's too much for you time wise, then just refer me somewhere where I could learn about it?

As I said, createViewHolder is implemented in every item, except the abstract super class because that class item doesn't have any view holder, and is there just for inheritance purposes.
Is that bad implementation on my part? because I saw in yo

[2017-03-27 08:28] davideas commented on #324
@henengel, if it is abstract you should not implement in there, only the single items know their specific view holder from the method signature.
In the documentation, the automap is explained and the error message is self explanatory, that's why I closed it.

[2017-03-27 08:32] henengel commented on #324
@davideas

Then all those items **do** implement createViewHolder, and still getting the exception from time to time via crashlytics.

[2017-03-27 10:48] nidhiAscra opened #326 "How to handle onclick of a button inside header?"
I am using library inside my application. My requirement is use different view header and items at different position. Using this code i am unable to handle onclick of the header view. but item's click event is beign handled inside Adapter class. Please do solve the issue,

[2017-03-27 11:36] davideas commented on #324
Probably you have called super()... remove it.

[2017-03-27 11:53] davideas commented on #326
Hello @nidhiAscra, thanks for the question. In this case, you do the following:

1) Override _FlexibleAdapter_ with your own _CustomAdapter_, and create a public field for the Callback interface that can be used in the View Holder when you implement the item. So you will instantiate only CustomAdapter from now on.
2) The constructor of the _CustomAdapter_ accepts the implementation of the callback

[2017-03-28 05:04] henengel commented on #324
@davideas

Do you mean, remove super call from all items?
If so then how am I supposed to compare id's between one item to another?

[2017-03-28 06:56] IHNEL commented on #316
@davideas Thank you so much.

[2017-03-28 06:56] #316 closed

[2017-03-28 07:19] nidhiAscra commented on #326
Hi Davideas,
Thank you for the reply.
I am following same method for declaring and handling onclick event of a view inside adapter. It is handling properly for the view inside onBindViewHolder, but for the view inside onBindHeaderViewHolder the onclick event is not being handled.
Here my header view is containing one button and a text. I am using your StickyTestAdapter and I have customize it as p

[2017-03-28 07:26] davideas commented on #316
@IHNEL, I'm optimizing the initialization, the update and filter processes, you can already start to have a look at the commits in the branch **list_copy**.

[2017-03-28 07:39] davideas commented on #324
@henengel, the super implementation of the abstract class can't be performed if you implement the method without calling super, that's why I raise IllegalStateException. Java will never call the abstract implementation of `createViewHolder`.

What do you mean with comparing the IDs? where and how you compare the IDs?

[2017-03-28 07:56] henengel commented on #324
@davideas Sorry David, I think we are miscommunicating probably of my lack of experience.
Why don't I just show you in code what I did:

This is my abstract super class:
[code]

This is the code of one of the feed items(All these items as I said implement createViewHolder and all other necessary methods):
[code]

This is the code of the corresponding viewHoder:
[code]

[2017-03-28 08:29] davideas commented on #324
@henengel, you have to remove these useless lines from your AbstractItem:
[code]
This method will be overridden anyway from your items.

Then, the `equals` and `hashCode` can be removed as well from your items because those are in the abstract and can be called.

[2017-03-28 08:34] henengel commented on #324
This method was a fix I tried when this issue started and didn't solve the problem.
My point being that even without this method I get the issue a lot.
Should removing `equals` and `hashcode` solve the problem to your knowledge??

[2017-03-28 08:38] davideas commented on #324
Sorry but it is not possible as from my knowledge that the super method is called.
Try to clean your build, then build again.
There's nothing I can do, it must work as it works to everybody. The library works in that way.

[2017-03-28 08:41] henengel commented on #324
I'm personally not having the problem.
140 users that are using my app released yesterday are having it.

[2017-03-28 08:47] henengel commented on #324
As far as I know, I did exactly as said in your wiki, and shown in your sample app (there all the feed items do override `equals` and `hashcode`).
Is there anything else I can share with you in an attempt to solve the problem?
Because if not, unfortunately, I won't be able to use your adapter, which I very much want to!

[2017-03-28 10:12] henengel commented on #324
Stacktrace after removing:
[code]
And `equals` & `hashcode` in all feed items.

‭       ‬at eu.davidea.flexibleadapter.items.AbstractFlexibleItem.createViewHolder(AbstractFlexibleItem.java:149‭)‬
‭       ‬at eu.davidea.flexibleadapter.FlexibleAdapter.onCreateViewHolder(FlexibleAdapter.java:1822‭)‬
‭       ‬at android.support.v7‭.‬widget.RecyclerView$Adapter.createViewHolder(RecyclerView.java:6321‭

[2017-03-28 10:15] davideas commented on #324
@henengel, which is the signature the Adapter? which item class you put in the <> ?

[2017-03-28 10:18] henengel commented on #324
I didn't override the adapter. Just created a new one and set it.
Everything that involves setting up the adapter is in the class below:

[code]

[2017-03-28 11:12] hayahyts commented on #77
Hello guys, has there been any development? I really need this

[2017-03-28 12:38] davideas commented on #324
@henengel, I don't know why you having that exception.
Try this: put `IFlexible` for your List instead of `AbstractItem`, ok you will need to cast to the correct object anyway.

[2017-03-28 12:43] henengel commented on #324
I will try to do so.
I may be on to something...The problem may have something to so with Parcelable/Serializable.
The problem seems to happen when coming back from the background.
Instead of writing and restoring the dataset via Parcelable, I set the fragment onCreate and restore to get the dataset from the data manager, and it seems to have an effect on the issue.

[2017-03-28 18:57] henengel commented on #324
@davideas Hi David.
I'll let you know the final conclusion from this issue for me, but in general, as it seems now, the issue seems to be because of Parcelable. I'll let you know.
Thank you for your help today

[2017-03-28 21:31] davideas commented on #77
@hayahyts, I checked and did some commits in the branch **lateral_sticky_view**, but it is far to be considered "working"! It is quite difficult to adapt to the current code. It indeed requires more effort and time.
Maybe another Helper class dedicated for lateral sticky would be better.
I reopen this issue for the time being, but cannot work on it now.

[2017-03-29 12:51] henengel commented on #324
@davideas Hi David,
Well turns out that the problem is Parcable.
Doing the workaround where I don't use Parcable but get the dataset from the data manager, stopped the crashes for all of my users.
I am aware that the workaround has it's own Implications, but at least the app isn't crashing.
Any plans on figuring this out?

[2017-03-29 12:58] davideas commented on #324
@henengel, oh well for you. I don't have any ideas for that. I basically wouldn't use Parcelable for those type of items. Why you do?

[2017-03-29 13:05] henengel commented on #324
Parcable/Serializable needs to used in the fragment's onCreate if `getArguments != null`, for the fragment to be able to restore the data.
Am I mistaken?

[2017-03-29 13:08] henengel commented on #324
When creating the Fragment, I pass to the newInstance the dataset, in the new instance method it writes it to the savedInstanceState bundle and restores it in onCreate.

[2017-03-29 13:08] davideas commented on #324
No, you are correct, but it will clone the object with different reference in memory.

But you can just use the unique ID (string or long) to retrieve the real object from a List or Set because you have implemented `equals` and `hashCode`: create a new Item with the ID only in it.
OR you can set in a singleton the selected object and retrieve as it is from the other fragment or activity.

[2017-03-29 13:13] henengel commented on #324
I'll try to implement your suggestion hopefully in the in the next few days.
If I'll have difficulties or questions, I'll try to contact you.
I hope the solution we will come up with will help other users as well.
Thanx

[2017-03-29 13:13] davideas commented on #324
So maybe I will mention in the documentaiton to not use Parcelable, because it will recreate your issue if used with Abstract. You issue is generated by the fact, the object is Abstract, and doesn't know anything of the last implementation and overridden methods.

[2017-03-30 11:59] lemonboston opened #327 "Is it possible to customize 'sticked' header layout?"
Is it possible to change how the header item looks when it gets 'sticked'?
So we would like to make some transition, like changing the color and maybe layout arrangement as well when the header gets sticky.
Is there any callback that we could use to react when the item gets sticked/unsticked?

I know of the elevation, that's great actually, but we are exploring options to further change the look o

[2017-03-30 15:11] #311 closed

[2017-03-30 15:11] #317 closed

[2017-03-31 15:14] volser commented on #320
After refresh data, if header item is partially visible, then sticky header not sticked.
https://youtu.be/meu3rq2V5aY

in demo project original item is visible, in my just blank place

[2017-03-31 15:38] volser commented on #320
how to reproduce: swipe to refresh and scroll up in a half of item height (see video)

[2017-03-31 17:30] tprochazka commented on #34
I tested current fast stroller in the RC1 and it is strange that it stay on one place for quite long time during I scrolling before it start moving. It happen also in the demo app. I was created bug report, but if new FastScroll is on the way it probably doesn't make sense. I also mist auto hide, but it will be in new one too.

[2017-03-31 22:18] tprochazka opened #328 "Filtering issue during delete search query"
I'm trying to implement list filterings on version 5.0.0-rc1.

It works good until I will try to delete search query. Then it should found more items, but it always crash during the add new items to the list with the stack trace bellow. But it works in your demo and I'm not able to found reason.  I just now that in the list was 99 item and when I delete on character from query 100 items was qualif

[2017-03-31 22:31] tprochazka commented on #328
So I found the reason. List provided to the filterItems() contains more items that the original list that was inside of the adapter before search.

And I found another issue, sticky grid are not sticky during to search. It has some reason?

[2017-04-01 05:13] henengel commented on #324
@davideas Hi David, how is it going?
As we spoke in the few days, I'm trying to rewrite the code to not use Parceble to maintain the dataset, but use my singleton data manager.
Trying to do so, I encountered difficulties as the list passed by the data manager is different from the actual list used by the adapter.
A list of abstract items is passed from the data manager, while the actual list has s

[2017-04-01 11:22] henengel commented on #324
@davideas UPDATE:
Assuming the I take the action course of passing the adapter a list of IFlexible items.
I am having a problem with removing items, in relate to the correct position if items.
When I remove an item, I use:

[code]
As result of this code, the item is not removed from the list of items in the adapter, and stays the same count.

[code]
As result of this code, the item list count stay

[2017-04-02 05:14] henengel opened #329 "Wrong position when removing multiple items"
Hi David, in continuation to other issues we worked on last week, I encountered this one too.
Since it's an issue that is not related to other issues we had, I thought it would be better to open a new ticket to better address the problem, and for other users to be able to solve this particular issue in case they have it too.
The problem I have is the position I get in `onBindViewHolder`when removi

[2017-04-02 05:20] henengel commented on #324
#329

[2017-04-02 19:50] kenyee opened #330 "Sticky header not drawn properly if scrolling down after pushing another sticky header up"
If you scroll the sticky header up and then scroll down immediately after you push another one out of the way, it looks like the sticky headers are drawing on top of themselves:

![image](https://cloud.githubusercontent.com/assets/586670/24590484/ec43afdc-17bb-11e7-8a68-108723317720.png)

Header is defined like this:
[code]

[2017-04-02 19:57] kenyee commented on #330
Ahh....adding this to the root LinearLayout causes that weird behavior:
    android:layout_marginBottom="16dp"
Probably should be documented...

[2017-04-03 08:41] kvolkers opened #331 "Update support lib"
Please update the Android support lib to the latest version of 25.3.1.

[2017-04-03 13:03] marbat87 opened #332 "StickyHeader programmatically set backgroundColor"
Hi,

I'm trying the latest RC version 5.0.0-rc1
Android version 6.0.1

I need to set the background color on expandable header items programmatically.
I set it in:
`    @Override
    public void bindViewHolder(FlexibleAdapter adapter, ExpandableHeaderViewHolder holder, int position, List payloads) {
     ...
        holder.itemView.setBackgroundColor(MYCOLOR);
    }`

It works fine if headers are

[2017-04-03 14:34] davideas commented on #331
@kvolkers, this will be for sure with next pre-release or snapshot.
Also with next commits for the project.

[2017-04-03 14:34] #331 closed

[2017-04-03 14:38] davideas commented on #330
@kenyee, thanks I will check it out.

[2017-04-03 14:44] davideas commented on #332
@marbat87, can you try to use `holder.getContentView().setBackground()` only for header item?
Because of the mechanism a frame layout is inserted between the content header and the old parent.

You might want to use the `DrawableUtils` functions that are inside the library. So you will have the ripple effect as well.

[2017-04-03 14:51] davideas commented on #328
@tprochazka it could be if they are not synced.

Regarding deactivating sticky, yes I made with a reason: if I keep the sticky it will crash 100%.
I do not remember exactly the exception, but not easy to have both functionalities at the same time.

[2017-04-04 03:09] mdtuyen commented on #328
Hi @davideas , I have same issue, what is solution for this case. I can't use sticky here ?

[2017-04-04 08:14] davideas commented on #328
It might be a little bug, need to check it better, could you provide me the logs as well?
Just I don't have time, I try to do my best.

Normally, you have your original list, it is necessary to pick up items to add in the adapter list when you delete characters in the search text.
But indeed I might create a copy of the original list internally, but if you search remotely then you need to provide

[2017-04-04 15:52] marbat87 opened #333 "getStateListDrawable should set also the pressedColor on state_pressed for API < 21"
Hi,

I was trying to set a selectableBackroundCompat on a Item, but I noticed that using that mehtod, when you click on the view no effect is shown on API < 21

I saw that, for API < 21, you're calling the following utility method inside DrawableUtils:
<pre>
    public static Drawable getSelectableBackgroundCompat(@ColorInt int normalColor, @ColorInt int pressedColor, @ColorInt int rippleColor) {

[2017-04-04 21:18] davideas commented on #333
@marbat87, thanks for the improvement suggestion, I will check it out better, later.

[2017-04-05 07:50] hayahyts commented on #77
@davideas thank you for your time. Will love to hear from you if there is any updates

[2017-04-05 11:47] henengel commented on #329
@davideas David?

[2017-04-05 11:47] henengel commented on #324
@davideas David?

[2017-04-05 12:27] davideas commented on #329
@henengel, you have the method `getGlobalPositionOf(item)`, then you can call `removeItem(position)`, notification is inside. That's it.

[2017-04-05 12:33] davideas commented on #327
@lemonboston, currently the layout of the header is translated to the sticky container, and the container takes the shape of the header item, unless is customized and provided at runtime with specific width/height.

There's a callback when it swaps and clear `OnStickyHeaderChangeListener`.

[2017-04-05 13:25] henengel commented on #329
@davideas Do it as you said, in the `onBindViewHolder()`using the code:
[code]
or:
[code]
* Not sure which one to use?

The app crashes with this stack trace:

                                                               at android.support.v7.widget.RecyclerView.assertNotInLayoutOrScroll(RecyclerView.java:2530)
                                                               at android.support.v7.

[2017-04-05 13:33] henengel commented on #329
@davideas Should I use `removeItemWithDelay()` with `position` or `globalPosition`? (Does it matter?)

[2017-04-05 13:35] davideas commented on #329
globalPosition is the real one for the Adapter point of view.

[2017-04-05 13:44] davideas commented on #329
I do not know where `position` comes from, but you should use `DataUtils.getInstance().removeItemFromData(position);` since you got the item with that.

[2017-04-05 13:50] henengel commented on #329
@davideas the `position` is the one provided by the `onBindViewHolder` method.

[2017-04-05 14:07] davideas commented on #329
Then the position you have is already the adapter position, you don't need getGlobalPosition...
So you can't use for your Data.

[2017-04-05 14:11] henengel commented on #329
@davideas

What do mean?

So just remove the item from the adapter and the dataset with `position`?

[2017-04-05 14:13] davideas commented on #329
Only from Adapter, and if you need to remove from your dataset:
[code]

[2017-04-05 14:17] henengel commented on #329
@davideas Correct me if I am mistaken but since the adapter is synced all the time with the dataset held in the datamanager singleton (Since Parcable/Serializable) can't be used, the dataset has to identical and up to date, no?

[2017-04-05 14:19] davideas commented on #329
Depends what you keep in your dataset, so with that it never goes in exception.

[2017-04-05 17:51] bafitor commented on #328
Hi guys.

I had the same exact issue and the root cause was a incorrect implementation of the _hashCode()_ and _equals()_ methods in the adapter items.

That fix solved the issue for me.

[2017-04-05 21:05] davideas commented on #39
New **5.0.0-SNAPSHOT** has been published. **With this update you MUST review your code, see deprecations below here** (I will update the migration notes soon).

**Deprecations / New Behaviours**
- Adapter now makes a copy of the provided list at _startup_, _updateDataSet_ and _filterItems_, before applying features (from support #316).
- `onPostUpdate()` and `onPostFilter()` now require to call `

[2017-04-05 21:06] #34 closed

[2017-04-05 21:07] #321 closed

[2017-04-05 21:07] #329 closed

[2017-04-05 21:07] #328 closed

[2017-04-05 21:07] #326 closed

[2017-04-05 21:13] #314 closed

[2017-04-06 05:56] henengel commented on #329
@davideas Sorry David, but still, doing as you said doesn't make the adapter work properly.
I'll try again to be as specific as I can.
There are multiple item types in the dataset. t
Some of them are adMob items.
In some cases (like if adBlock is installed) all those items are removed.
**Still**, when clicking on some items, I get `classCast`exeptions.

Code:
UrlBanner item `onBindViewHolder`:
[co

[2017-04-06 05:57] henengel commented on #329
@davideas Please read carefully everything and if you don't understand something or need more info, please ask.

[2017-04-06 08:32] davideas commented on #329
Sorry @henengel, please use Snapshot version (published yesterday eve) if you consider it better, read last post in issue 39 for release notes. I will be busy for the time being.

Regarding the ClassCast it will take some time and debugging from your side, better if you search on Internet.
I see that the codes references are completely different in the 2 lists you've shown me. So they are differen

[2017-04-06 10:03] IHNEL commented on #303
@davideas
Sorry to said that the actually problem is I didn't implement method `getLayoutRes`. I inflate the layout directly in `createViewHolder`. This work fine if I use flat list, crash in case of Sectionable list with crash-log above.

I think it would be great if we ask `getLayoutRes` have been implemented in crash log instead of `java.lang.ClassCastException`

[2017-04-06 10:57] davideas commented on #303
@IHNEL, so those 3 methods should be declared abstract (maybe).

[2017-04-06 10:59] IHNEL commented on #303
Exactly what I mean. This approach will help to save lot of time for who may run into similar case.

[2017-04-06 11:41] lemonboston commented on #327
Thanks @davideas ! I missed that callback, we may be able to use that then, with I suppose also just finding the sticky layout by id.
cheers

[2017-04-06 11:41] #327 closed

[2017-04-07 04:55] IHNEL opened #334 "Header view drawn multiple time"
Hi,
I implement my recycler-view using FlexibleAdapter within `AbstractHeaderItem` and `AbstractSectionableItem` to make sticky-header list.

There are 3 list items which assigned 3 header items. 3 these header items have same data, and of course I implemented the `equals` method to return whether they are same. The issue is the header items drawn multiple time as below screenshot

<img width="313

[2017-04-07 05:31] #332 closed

[2017-04-07 07:18] davideas commented on #334
@IHNEL, well a mistake was done. Review your code to be sure the same header object is assigned to the 3 items, or maybe equals is not implemented properly. Read again the wiki for equals or simply read the method comments.

[2017-04-07 07:36] IHNEL commented on #334
I created a new header object every time insert  new item. Each header object has a field`name`, and I wrote the `equals` like this (I'm using Kotlin) :

I debug and see the equals method works fine.

[2017-04-07 08:52] davideas commented on #334
@IHNEL, uhm theoretically it should work. Can you check which is the reference in memory for the 3 header items?
Debug and watch the list in the Adapter.
Possibly assign the same object so you see the difference between the 2 approaches.

[2017-04-08 13:17] yamelkaya opened #335 "Issue with grouping items when updateDataSet called after SNAPSHOT updated"
Hi @davideas,

I use `StaggeredGridLayoutManager `with 3 columns:

`StaggeredGridLayoutManager layoutManager = new StaggeredGridLayoutManager(3, LinearLayoutManager.VERTICAL);`

On start everything is OK and looks like:

![image](https://cloud.githubusercontent.com/assets/2253928/24829181/d79cd32e-1c75-11e7-805c-1e25f29cc19b.png)

When I click on item for details and return back I refresh list wit

[2017-04-08 20:57] Faisal0sal opened #336 "Update a single item"
Please check off the following points BEFORE submitting a new issue / asking support.
- [x] Write a self explanatory Subject.
- [x] Check if the issue has already been raised by someone else (see closed issue).

1) For Bugs / Support
- [x] What you've tried (If necessary, indicate library Version / Android version / hardware).
- [x] Expected behavior and actual behavior (problem encountered).
- [x

[2017-04-09 11:13] tprochazka commented on #328
I don't understand why sticky grid during the search is problem. It is nothing special, you just display less item. If I will do async search myself and the just update data in the adapter it will works. Of course use integrated search is much easier, than do it myself.

And related to necessary to provide again original list for search.

Would be great if it will create copy automatically as defa

[2017-04-09 17:38] #336 closed

[2017-04-09 18:35] davideas commented on #336
@Faisal0sal, please read the comment of the methods, the index parameter is wrong. There are 2 methods overload of `updateItem()`.

[2017-04-09 18:45] davideas commented on #328
@tprochazka:

Yes, when you add characters you always reduce the current list, but when you delete characters you need the original list to reinsert items, those items are lost during the filter. So what you suggest is just half search.

It could be an improvement. Default internal copy is done when searchText is initially inserted and list of items restored if searchText is cleared out. To use a

[2017-04-09 18:56] davideas opened #337 "Filtering original list in 2 modes: use the existent internal list or with user list"
Initial internal list will be by default the original source list to filter items.
Alternatively, user can provide a new list from which the filter is applied (current mode).

[2017-04-09 19:01] davideas commented on #335
@yamelkaya, please check the logs and see how many items are deleted / inserted / modified when using the async update. "Welcome on board" could be without header in that refresh.

As explained in the release note, headers and expanded items are now initially applied to the list provide in the update, then the calculation of the difference between new list and internal list is performed.
If he see

[2017-04-09 19:04] davideas commented on #330
@kenyee, I couldn't reproduce that issue. Which LinearLayout?

[2017-04-09 21:04] kenyee commented on #330
Topmost linearlayout (included the layout in the bug report).

Scroll the 2nd header up over the first one and then scroll it slowly down...it's some overwrite issue where the first header is drawn over the 2nd even though the 2nd one should be over the first.

 ken

-----Original Message-----
From: "Davide Steduto" [notifications@github.com]
Date: 04/09/2017 03:04 PM
To: "davideas/FlexibleAdapter

[2017-04-09 22:08] davideas commented on #259
Available in the current snapshot: If activated with setTopEndless(), items can only be inserted at the top of the list, top endless is complementary to the bottom endless.

[2017-04-09 22:12] #259 closed

[2017-04-10 02:01] wankey opened #338 "crash when onLoadMoreComplete(List)"
version: 5.0.0-RC1

java.lang.IndexOutOfBoundsException: Invalid index -1, size is 0
	at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
	at java.util.ArrayList.addAll(ArrayList.java:226)
	at eu.davidea.flexibleadapter.FlexibleAdapter.performInsert(FlexibleAdapter.java:2846)
	at eu.davidea.flexibleadapter.FlexibleAdapter.addItems(FlexibleAdapter.java:2828)
	at eu.davidea.fle

[2017-04-10 08:04] #338 closed

[2017-04-10 08:36] yamelkaya commented on #335
I've checked first badge header - it's OK and equals to BETA badge header

![image](https://cloud.githubusercontent.com/assets/2253928/24851077/081443dc-1ddb-11e7-92fb-80874ea2f417.png)

Logs for `updateDataSet` below (call with `animate = false` now):
[code]
When I use `clear `+ `addItems `combination everything works perfectly.

[code]

[2017-04-10 09:42] davideas commented on #335
@yamelkaya, ok thanks for the logs, I think I've identified the point of the error.
Cannot create new snapshot from here, you need to wait for this evening/tomorrow.

[2017-04-10 09:48] yamelkaya commented on #335
Ok. Thanks a lot.

[2017-04-10 20:41] #335 closed

[2017-04-10 20:48] davideas commented on #330
@kenyee, still can't reproduce it. It should be how you initialize the list or the equals method not properly implemented.
Please use the Snapshot version, which contains the most advanced code. But read carefully the last 3 posts of issue 39 to adapt your code.

[2017-04-10 21:24] davideas commented on #320
@volser, that half item scroll while you refresh might be the touch of your finger. If I refresh the list it doesn't occur, but I'm using the latest code from Snapshot. Just published the new App from Snapshot under [latest release](https://github.com/davideas/FlexibleAdapter/releases).

@ILikeYourHat, the solution proposed nicely fix the behaviour in point 2) but it introduces an issue which is w

[2017-04-11 13:19] kenyee commented on #330
Thanks for trying...I'll just close this then.  I should have written up a small sample project :-(
If you want way too much code, you can pull this project at this commit that was using 5.0.0-rc1:
https://github.com/Droidcon-Boston/conference-app-android/commit/e65b58777cc5fa797acc237de27967e05a6d22e3
That was before I restructured it to get rid of the marginBottom in the root header tag.

[2017-04-11 13:19] #330 closed

[2017-04-11 21:33] tprochazka opened #339 "Sticky headers in filtered list"
Would be great if sticky headers will remain sticky also in filtered list.

[2017-04-12 08:05] kvolkers opened #340 "Endless scroll enhancement"
Current endless scroll supports pages that have an exact amount of items (for example loading 20 more items each time).

My suggestion is to add support for another type of endless scroll, for pages that don't have a pre-determined amount of items.

Example use case: an electronic program guide that lazy loads items per day. A page represents a date range from the start of a day to the end of that

[2017-04-12 21:36] davideas commented on #337
Unfortunately, it will brake the functionality of UNDO just after Filter and viceversa. Then it is too complicated to recalculate the correct position on the original Items too.

[2017-04-12 21:36] #337 closed

[2017-04-12 21:43] davideas commented on #320
@ILikeYourHat, probably I found the way to reproduce the point 1).
Using the UNDO feature when retrieving the next sticky header, the position of the first visible item is wrong. As from official documentation:

So, RV thinks that header is swapped, while it isn't, because the situation is still not changed after the delete notifications are dispatched.
I now added a delay of 100ms after any dispa

[2017-04-12 21:58] davideas opened #341 "[Snapshot] UNDO not working with expandable AND after items are filtered"

[2017-04-13 07:53] ILikeYourHat commented on #320
Great, thank you :) So, for clarity (correct me if I am wrong):
1. It will be fixed in the new snapshot
2. It is fixed, but that fix introduces a small bug, and that small bug cannot be fixed because Android
3. It is already fixed

[2017-04-14 19:21] davideas opened #342 "Starting or resetting the Filter will empty the bin of the deletedItems"
Removal of the use case **Undo in combination with Filter**. _Starting_ or _resetting_ the Filter will immediately commit the deletion and will empty the bin of the deleted items. More precisely the next sequences of use cases will be removed from the library already starting from the next snapshot.
- Delete items > Start filter > Undo > Items were restored at the right positions and already filte

[2017-04-15 09:18] davideas commented on #339
I have re-enabled the possibility of this feature, since it seems to work after a fix related to this [commit](https://github.com/davideas/FlexibleAdapter/commit/efd2f228e76f709eaa0f8937222e831ca4be9986#diff-26353d6c0f5fb714881dd30a0c9454f3R5311) (issue 320).
However, if it creates issue again I will disable again. I tested but please do your tests as well in your apps.

[2017-04-15 09:49] davideas commented on #333
@marbat87, what is the difference visually? I can't see it.

[2017-04-15 19:17] #342 closed

[2017-04-15 19:17] #341 closed

[2017-04-15 19:17] #339 closed

[2017-04-15 19:29] davideas commented on #320
@ILikeYourHat, snapshot published.
1) Give a try, not sure if it is the same issue.
2) I've put that fix in the snapshot, please give some tries, now it seems to work better. Anyway, if the bug described [here](https://github.com/davideas/FlexibleAdapter/issues/320#issuecomment-288454124) appears, I do not know how to resolve it.
3) Not a bug for me.

[2017-04-15 21:06] tprochazka commented on #337
I just stuck on it. This is exactly what I need. I need to allows users search in huge list for desired item by name and then allows to delete it, allows to undo the delete and still search.  And this is really hard with the current implementation. Problem is that filtering now override original mItems list and all delete and undo is based on it.  Filtering should not modify the original adapter d

[2017-04-15 21:50] tprochazka commented on #337
I did quick and very ugly workaround working in my situation

[code]

[2017-04-16 12:18] davideas commented on #337
@tprochazka, that is not good, better to delete all.

With current snapshot, you can still filter > delete > undo until a new filter or an update occurs!
Please read issues #341 & #342 opened by me.

For the moment what you need to provide is the original list, same as the one you initialized the adapter. I will evaluate if this issue can now be reopened.
I also added a new method `getCurrentItems

[2017-04-16 12:22] davideas opened #343 "Allow to unbind ViewHolders"
Propagate the call of `onViewRecycled()` to the item interfaces.

The method remains optional with empty implementation in the `AbstractFlexibleItem`, so the modification will be transparent for the users that use the abstract library item.

[2017-04-16 12:38] davideas opened #344 "Get rid of Method B to create and bind ViewHolders"
_Method B_ is the classic way to implement the Adapter by overriding `onCreateViewHolder()` & `onBindViewHolder()`. Those methods will be now declared final because Method A will be the new standard.

From now on, we will use only _Method A_: we will delegate the previous operations to the item interfaces.
Item interfaces will now mandatory implement the following methods:
- `getLayoutRes()`
- `cr

[2017-04-16 18:30] MrOnyszko opened #345 "Sample app java.lang.IndexOutOfBoundsException at Expandable Sections"
Hi, I spot a bug in sample application at Expandable Sections.

I was manipulating the items and headers and application crashed with stacktrace below. I was testing on OnePlus X.

It's really easy to reproduce look at [video](https://github.com/davideas/FlexibleAdapter/files/924474/device-2017-04-16-202254.mp4.zip)

Thanks for your effort and I wish you good results with this great library!

[cod

[2017-04-17 08:14] tprochazka commented on #337
Yes. I know that I must provide original list, but the original list is affected by delete/undelete. So I create copy of the current items when filtering starts, then update it by delete items or restore it by undo and then after filtering is finished I delete it. Ideal would be when getCurrentItems() will return still the all items in the list and will be not affected by filtering.

[2017-04-17 10:55] SolidScorpion opened #346 "Swipe does not properly work (animate) on android version below Lollipop"
Hello! Long term library user here. Recently started working on a new project where I encountered the need for items to be swipe able and  show some kind of view behind them.
I examined example app provided in this repo and implemented an item with layout similar to recycler_expandable_item.xml (from sample project). I defined front view, rear right view and rear left view.
I've searched for simil

[2017-04-18 12:43] davideas commented on #337
I see, the Adapter should help you in this case because:
- Filtering again or resetting the filter won't show the deleted items.
- With the new Snapshot version, every new filter will ask to commit the deleted items. Normally, we remove the undo after a while (5 seconds), but if the user starts a new filter use case, I believe we should close the previous undo use case.
- Alternatively you can imp

[2017-04-18 12:53] davideas commented on #345
@MrOnyszko, yeah, I reproduced it by moving only the _Sub Item 1_ out of its parent.
The reason is very simple: the code to move the sub item from a parent to another is not done, so when a parent collapses it removes the number of elements below it as much as the sub list size, of course it doesn't like.

So it's not a bug of the Library, just missing code.

[2017-04-18 12:53] #345 closed

[2017-04-18 19:57] MrOnyszko commented on #345
@davideas I understand, I suppose that you are going to add that missing code? ;)

[2017-04-19 15:15] Vladislav-Z opened #347 "Sticky Header doesn't update selected view state correct for MODE_SINGLE"
I have sticky headers
[code]
And simple items
[code]
and my adapter is initialized like this:
[code]
and all activation logic like in wiki example
[code]

**But sometime's two headers are highlighted**  1  view is not updated correctly. OnClick functions are call.
It happens when  i have 2 headers coherently without children and first header is half-scrolled. After scroll it fix.

How i can fix th

[2017-04-19 19:06] davideas commented on #347
@Vladislav-Z, following your code is quite difficult, could you please make a video (not public) and post it on your Youtube, so I can better understand your situation?

Few notes:
- `showAllHeaders()` and `expandItemsAtStartUp()` you don't need to call.
- if you use rc1 version data must be a copy (`new ArrayList<>(data)`), if you use the snapshot version (next rc2) copy is done internally.
- If

[2017-04-20 01:24] lxdyglt commented on #346
I'v got the same problem, can someone make an urgent release to fix it.

[2017-04-20 07:54] Vladislav-Z commented on #347
@davideas
Hello, thank you for the answer, I removed these methods, but it didn't fix, so I recorded video, like you wanted.

[single mode video.zip](https://github.com/davideas/FlexibleAdapter/files/941206/single.mode.video.zip)

[2017-04-20 08:45] davideas commented on #346
Dears, thank you for your messages.
I really do not have time to look into this issue, but be aware that the swiping really needs to be improved and restructured. The issue #315 is already in place.

[2017-04-20 11:32] davideas commented on #347
@Vladislav-Z, I start to understand, I would like to try it out without recreating the app. Could you share the demo code in your Github project?

[2017-04-20 12:01] davideas commented on #340
@kvolkers, you can already change the page count every time. But, it is also up to you to call the Rest Api and return the correct number of items, by default page count is unlimited.

You can actually disable the endless by setting `null` the `progressItem` at the condition you desire.

[2017-04-21 07:49] davideas commented on #345
Sorry @MrOnyszko, maybe 1 day, not soon. But everyone can do it.

[2017-04-21 17:12] #343 closed

[2017-04-21 17:12] #333 closed

[2017-04-21 20:42] davideas commented on #346
Please use **exclusively** this view order in the layout:
[code]

[2017-04-21 21:14] inorichi opened #348 "Fast scroller never shown in the current snapshot"
When the fast scroller is inflated with `View.GONE`, the scroller will never show until its visibility is manually set to `View.VISIBLE` .

I'm using `FragmentViewPager` from the sample app as example (which currently crashes in [this line](https://github.com/davideas/FlexibleAdapter/blob/current_snapshot/flexible-adapter-app/src/main/java/eu/davidea/samples/flexibleadapter/fragments/FragmentViewP

[2017-04-21 22:51] davideas commented on #348
@inorichi, since with the new FastScroller, AutoHide is enabled by default, we can remove the Visibility.GONE from the layout, this will fix your issue!

And, I added a new feature, if scrolled amount is small (< 120px), it is not shown.
Available with next snapshot.

[2017-04-22 08:02] inorichi commented on #348
I think the scroll amount is not a good idea, the scroller can be hidden even when it's still scrolling. To reproduce, begin with a fast drag then continue slowly.

What I meant in my last sentence was something like this patch: https://github.com/inorichi/FlexibleAdapter/commit/0f0e88d14b96f17d9f5408fd81bfbd4edf865113 (I don't know if this solution introduces any issue)

When `autoHideEnabled` is

[2017-04-22 11:51] davideas commented on #348
@inorichi, it is wanted that the scrollbar is shown for a small amount of time at startup, then, it auto-hides. It gives an hint to the user that fast scrollbar is available!

With my last commit, it is now better: if you set the minimum scroll threshold, by dragging the list slowly, it won't show the scrollbar. The fast scrollbar is always available on touch by the way. But when you start to flin

[2017-04-22 22:09] davideas commented on #302
Custom layout manager are now supported, it will be available from next Snapshot.
You'll need to implement the `IFlexibleLayoutManager`.

[2017-04-24 15:37] Alelelex opened #349 "Sticky header are not sticky"
With the following code my sticky header doesn't stick to the app of my view. I have following every state of wiki without success.

Android 7.1.2
FlexibleAdapter 5.0.0-rc1

My Layout :
[code]

Initialization of my adapter
[code]

My sectionnable item

[code]

My header item
[code]

I tried by using AbstractFlexibleItem for my Section and defining methods getHeader() and setHeader() but with the s

[2017-04-24 15:47] davideas commented on #349
@Alelelex, can you show me the `equals()` implementations of the items?

[2017-04-24 17:47] davideas commented on #39
New **5.0.0-SNAPSHOT** has been published.

**Deprecations / New Behaviors**
- Resolved #344 - Get rid of Method B to create and bind ViewHolders.
- Renamed `DividerItemDecoration` to `FlexibleItemDecoration`.
- Renamed `Utils` to `FlexibleUtils`.

**Improvements**
- Resolved #302 - Allow to use _custom_ LayoutManagers on the RecyclerView.
- Resolved #348 - Customizable minimum scroll amount to sh

[2017-04-24 17:50] #348 closed

[2017-04-24 17:50] #302 closed

[2017-04-24 17:51] #344 closed

[2017-04-24 17:55] #340 closed

[2017-04-24 17:58] #334 closed

[2017-04-24 18:00] davideas commented on #334
I closed due to inactivity, but also the approach used should be refined.

[2017-04-24 18:01] davideas commented on #320
@ILikeYourHat, if you don't have other remarks on this fix, I will close this issue.

[2017-04-24 18:02] davideas commented on #346
@SolidScorpion, @lxdyglt, if you don't have any remarks I will close this ticket.

[2017-04-25 06:08] lxdyglt commented on #346
@davideas that solved this issue, thanks.

[2017-04-25 06:39] SolidScorpion commented on #346
Thank you! it did

[2017-04-25 07:26] Alelelex commented on #349
@davideas That was it... I was not sure how to use equals method so I forgot to change the implementation for my header...
Thanks for your advice

[2017-04-25 07:26] #349 closed

[2017-04-25 07:31] #346 closed

[2017-04-26 07:08] IHNEL commented on #334
@davideas sorry for quite lately reply. I didn't keep good notification in Github.
Of course the memory references are difference cos I initialized 3 difference objects for header. But I think it should rely on the `equals` method to check that they should be on same group.

[2017-04-26 09:51] davideas commented on #334
@IHNEL, the function getHeaderOf takes the header instance of the item, and on it is checked if it is hidden or not, then displayed, so it must be the same instance.

[2017-04-27 15:10] IHNEL commented on #334
Ok, Got it. Seems I have to reconsider my data structure.
Thank you so much,

[2017-04-28 10:28] yamelkaya opened #350 "LayoutManager must be initialized before setting FlexibleAdapter for RecyclerView"
As I see LayoutManager should be assigned before setting adapter otherwise I had an exception:

[code]
I haven't find this information mentioned in wiki or in migration notes. Maybe it need to be mentioned or I missed something?

[2017-04-28 12:14] larten opened #351 "Footer alignment"
Hi,

Do you have any idea how can I align the footer in the adapter?
The footer view is working correctly, my problem is when the content of recyclerview lesser than the height of recyclerview, I would like to show the footer view at the bottom of the view.

So I would like to set the position of the footer view align to the bottom or below the the items if the content is scrollable.

Thanks for t

[2017-04-28 18:24] antoantonyk opened #352 "Multilevel expandable list - Filter Issue"
I implemented the multilevel expandable list as follows.

[code]
The above showed implementation works fine, but sometimes i got exceptions  like follows while filtering the data.

[code]

[code]
I am unable to handle this exception. Please correct me if i implemented the expandable list in wrong way (I followed the sample application to implement this feature).

Flexible adapter version:   eu.dav

[2017-05-01 14:26] davideas commented on #350
@yamelkaya, yes thank you. I will initialize it separately if needed.

[2017-05-01 17:47] davideas commented on #351
@larten, yes I understand, it could be interesting, it's doable with a ItemDecorator that is able to recognize if exists a Footer item, it can calculate the difference between the last item and the remaining space.

If you will do you will share the code.

[2017-05-01 19:36] davideas commented on #352
@antoantonyk, I think you should use the Snapshot version since I could have resolved that bug recently see #328. Also be sure to correctly implement `equals()` and `hashCode()` for each items.

Unfortunately, there's missing filtering for the sub-sub items. So your subItem won't be filtered in this version as well. I will add it soon.

[2017-05-01 19:38] davideas commented on #347
@Vladislav-Z, I can't help you more if I can't see the code.

[2017-05-02 21:25] es0329 opened #353 "onLoadMore currentPage != currentPage"
When working with EndlessScrollListener, at the _initial_ [onLoadMore](https://github.com/davideas/FlexibleAdapter/blob/31852ca6326e4f1f082478bc1346054342384a08/flexible-adapter/src/main/java/eu/davidea/flexibleadapter/FlexibleAdapter.java#L5218), I expect currentPage == 1, however I'm observing currentPage == 20. It seems to contain a value equal to itemCount or lastPosition. Perhaps, I'm doing s

[2017-05-02 21:38] davideas commented on #353
@es0329, currentPage is a calculation of the following method:
[code]

[2017-05-02 23:46] #353 closed

[2017-05-03 05:49] antoantonyk commented on #352
Working fine in snapshot. Thanks. Now I am waiting for the filter functionality for multilevel expandable list.
Can i use the snapshot version for production?

[2017-05-03 08:59] davideas commented on #352
@antoantonyk, the filter for multilevel should work and is available in the snapshot version.

The Snapshot version (future rc2) is more advanced in terms of new features and fixed bugs from rc1, as you can see from issue 39. So it is more stable than rc1, but it can change often based on my ongoing development and of course can introduce new bugs!!
Since it doesn't require any action from your si

[2017-05-03 10:27] Vladislav-Z commented on #347
@davideas Hello, i added sample  [https://github.com/Vladislav-Z/flexiblebug](url)

[2017-05-03 15:50] antoantonyk commented on #352
Thank you so much @davideas . Lib is awesome and beautiful.

[2017-05-03 16:12] davideas commented on #352
Thank you @antoantonyk.

[2017-05-03 16:12] #352 closed

[2017-05-03 16:12] #320 closed

[2017-05-03 16:12] #350 closed

[2017-05-03 21:39] davideas commented on #347
@Vladislav-Z, this should now be resolved, thanks for the demo bug.

[2017-05-03 21:41] davideas commented on #217
A first beta version of this extension is now available.
For the moment only in the demoApp in **current_snapshot** branch is shown how to use this extension.

Check https://github.com/davideas/FlexibleAdapter/tree/current_snapshot for the setup.

[2017-05-04 08:20] Vladislav-Z commented on #347
@davideas Thank you! But remove please **final** from **public final void onBindViewHolder**

[2017-05-04 08:47] davideas commented on #347
@Vladislav-Z, as explained in the migration page, from rc2 the classic method to bind VH becomes superfluous, since we will delegate to the items to bind themself to VH. Now the 3 methods in the IFlexible are declared abstract, therefore onBindViewHolder won't ever be used.

Do you actually use it? how and in which occasion you should use it?

[2017-05-04 08:55] Vladislav-Z commented on #347
@davideas yes, we actually use it because we are using RxJava and pass a PublishSubject to a viewholder in this method to pass touch events outside the adapter. This is related to the fact that we use MVP architecture so each viewholder also has a presenter which is "bound" to the view in the onBindViewHolder() method. I have tried to do it in the onViewAttachedToWindow() but this method is called

[2017-05-04 09:13] davideas commented on #347
Ok I see, but the presenter cannot be used inside of each item? why is necessary to call that method since it will skip all the super implementation!

[2017-05-04 16:03] maltebucksch opened #354 "setRemoveOrphanHeaders(false) still available in any way?"
I am using the filter functions on a dataSet containing headers (`AbstractExpandableItem`) and `AbstractSectionableItems` as their child.
If no item matches the query I want to only show the headers. But if a header has no sub-items it vanishes automatically.
Any way to keep the headers even if they have no sub-items?
(Like the `setRemoveOrphanHeaders(false)` that was deprecated according to https

[2017-05-04 18:31] davideas commented on #354
@maltebucksch, the feature will be removed before final release. If you remove all the sub-items, nothing happens to the expandable.

Headers that are not expandable will disappear at the next refresh, because they rely on the items below, while if they are expandable they are kept because the sub-items rely on the expandable.

[2017-05-06 21:09] thelong1EU opened #355 "Headers are shown multiple times"
![ezgif-3-eb77d37d19](https://cloud.githubusercontent.com/assets/9283414/25775910/1717ecd8-32b9-11e7-901f-a2a43691bc95.gif)
I switched to this wonderful lib. I spend whole day reading docs. But still I have this issue. Headers are displays above every item.

As always the code is here:
https://github.com/thelong1EU/FlipViewDemo

[2017-05-06 21:17] davideas commented on #355
@thelong1EU, `UserHeader` must be the _same_ instance for each section, so you should NOT create new header object for each sectionable in your use case.

[2017-05-06 23:45] davideas commented on #166
Realm integration has been committed in **extensions** branch, it has some bugs on deleting and long press items which I do not understand, specifically `java.lang.ArrayIndexOutOfBoundsException: rowIndex is less than 0` (Issue https://github.com/realm/realm-java/issues/2408).

More over and sadly, we can't use inheritance on the items yet (https://github.com/realm/realm-java/issues/761) until the

[2017-05-06 23:49] davideas commented on #166
Realm integration has been committed in **extensions** branch, it has some bugs on deleting and long press items which I do not understand, specifically `java.lang.ArrayIndexOutOfBoundsException: rowIndex is less than 0` (Issue https://github.com/realm/realm-java/issues/2408).

More over and sadly, we can't use inheritance on the items yet (https://github.com/realm/realm-java/issues/761) until the

[2017-05-07 05:04] thelong1EU commented on #355
I see. I thought that the equals method deals with it.

On May 7, 2017 12:18 AM, "Davide Steduto" <notifications@github.com> wrote:

[2017-05-07 05:52] thelong1EU commented on #355
I changed it in the mock app and it works. But on my real app it doesn't. I get the same result.
Where are you from?

[code]

[2017-05-07 06:07] thelong1EU commented on #355
I think I found the reason. In the FlexibleAdapter there is the method showAllHeadersWithReset(). Here you check if the headers are the same instance. Why not try equals?

[2017-05-07 08:56] davideas commented on #355
Hi @thelong1EU, I didn't think about Parcelable, sometimes we write a feature without seeing all the user points of views for development, some can be missed. The improvement can be done.

I'm Italian living in Brussels. for the beer I will check about donations, because you are not the first, neither second that would like to, I appreciate it :-D

[2017-05-07 10:31] thelong1EU commented on #355
Added fix to #357, so I'm closing this.
Thanks again.

[2017-05-07 10:31] thelong1EU commented on #355
Added fix to #357, so I'm closing this.
Thanks again.

[2017-05-07 10:31] #355 closed

[2017-05-07 12:08] davideas commented on #166
Evaluating usage of `RealmFlexibleAdapter` as extension for FlexibleAdapter:
- As explained in issue (https://github.com/realm/realm-java/issues/761), an model object must extend `RealmObject` in order for Realm library to work. Should or shouldn't extend `IFlexible` items?
I think that `IFlexible` items are visual items while Realm objects are DB objects. This approach allow to separate the _pres

[2017-05-07 15:17] miroslavign opened #358 "Is there a workaround to use this lib with a cursor data"
Is there a workaround to use this lib with a cursor instead of using a fixed list:
// Initialize the Adapter
FlexibleAdapter<IFlexible> adapter = new FlexibleAdapter<>(myItems);

I intend to use it for presenting contacts, lots of them, there may be 12k contacts so,
I can not use a fixed list of 12k model items.

[2017-05-07 18:30] davideas commented on #358
@miroslavign, I already analysed the Cursor in the issue #208.
Please test the demoApp with 10K-15K items using filter as well. I think it is quite fast. Why you cannot use a fixed list? From were they come from, DB or Net? Maybe LoadingMore feature could be useful to you?

[2017-05-07 21:47] davideas commented on #347
For the moment, I've removed some final methods in the Snapshot. I will analyse better this point for final release.

[2017-05-07 21:47] #347 closed

[2017-05-08 02:03] arpinca opened #359 "[FastScroller] Scrollbar/handle is temporarily hidden when handle is selected"
Cause: In ScrollbarAnimator.java, the bar and handle are set to visible only in onAnimationEnd.

Previously, it was before the animator set is created.
Why was it moved inside onAnimationEnd?

Note: I'm using current_snapshot

[2017-05-08 06:36] maltebucksch commented on #354
Thanks for your reply. My headers are 'expandable' since they are a subclass of "AbstractExpandableItem" and I even setExpandable(true) on them in addition. They are still vanishing once my search query filters out all of their sub items, am I missing something here?

[2017-05-08 07:44] miroslavign commented on #358
Got it,
tnx for a quick reply, I did not check that closed #208 issue myself.
We are using it from local database, using a fast scroller on the right side, and load more is currently
not an option in our concept.

I have prepared custom items for presenting headers, and they are returned from cursor. For example, I am merging 4 cursors to get
1) section-1 header
2) section-1 items
3) section-2 hea

[2017-05-08 08:56] davideas commented on #354
Ah ok. Filter actually removes any item that do not match with the search text. So it's normal. If no subitems are filtered in then also the expandable of them is filtered out.

Your next question will be, can you keep the expandable in the filter with empty sub list? Is this what you want?

[2017-05-08 09:03] maltebucksch commented on #354
Yep, exactly. If no sub-item matches the filter, I still want to show the header/expandable.

[2017-05-08 10:47] davideas commented on #359
Ouch, I didn't notice, I will revert it back.

[2017-05-08 10:48] davideas commented on #354
Let me check what I can do. In case it will be a property configuration to activate.

[2017-05-08 11:33] maltebucksch commented on #354
Thank you

[2017-05-08 13:30] davideas commented on #358
@miroslavign, so are you preparing a separate list to provide to the Adapter or you have a final cursor?

For stickyHeader you need to set displayed the headers initially and activate sticky headers as well. Basically the headers are not added to the list since they are managed by the Adapter internally: you should add only the items with the header linked, because normally headers are not main it

[2017-05-08 13:37] miroslavign commented on #358
I have a final merged cursor. It has interleaved data as pointed, so header-data-header-data.

It is not a problem for me to remove these two header item rows, and for normal data items, I can detect in code - from which section are the items... So that would be solved.

Anyway, in parallel, I am trying to resolve this first step (sticky feature) using pure Decoration. But long term, using your li

[2017-05-08 21:24] davideas commented on #354
@maltebucksch, if you want the expandable always be filtered in, even when subItems are filtered out, implement the method `filter()` and `return true` for the Expandable item.

[2017-05-09 04:03] huangwaylon opened #360 "Section Header - Clicks cause ClassCastException in a list of Items"
Thanks for this useful library!

I have a list of items that extend AbstractFlexibleItem. These items implement ISectionable.
I also have some headers that extend AbstractHeaderItem.

[code]

For each item in my list of items, I set the header to be one of the AbstractHeaderItems.

Now I simply pass my list of items to a FlexibleAdapter.

However, I would like to add an on click listener:
[code]

[2017-05-09 06:21] maltebucksch commented on #354
Works! thanks for the tip Davidea

[2017-05-09 07:17] arpinca commented on #359
Thanks! I can submit a PR if you want. But I'm not sure where to branch from. current_snapshot?

[2017-05-09 07:21] davideas commented on #359
@arpinca, I already did it, I need to create a new Snapshot.

[2017-05-09 07:59] davideas commented on #359
Snapshot is ready.

[2017-05-09 07:59] #359 closed

[2017-05-09 08:05] thelong1EU commented on #359
Thanks!

[2017-05-09 08:13] davideas commented on #360
@huangwaylon, you welcome.

For that bug, please read [migrations](./wiki/migrations) and use the Snapshot version. It shouldn't happen anymore.

Later on, you can also disable the item from the inside `setEnabled(false)` so it won't react to any taps. You can them add any click listener to any inner view you want, just follow the steps in this issue #326.
In the demo App, there's an click listene

[2017-05-09 22:13] davideas commented on #324
Parcelable should now be supported for Headers and StickyHeaders. Only in Snapshot version for now.

[2017-05-09 22:48] #217 closed

[2017-05-09 23:36] davideas opened #361 "The next steps of development: RC1 > RC2 > RC3 > Final Release"
A new clearer plan for the next releases. Please follow the wiki page [Migrations](wiki/Migrations) for all braking changes, between those releases.

Here, the main points of **rc1** milestone:
- [x] I'm working on the new big feature of **Scrollable Headers** and **Footers**. Since this feature brings lot of new code, it must be closed as soon as possible.
- [x] I need to improve the **EndlessScr

[2017-05-09 23:36] davideas commented on #224
To support of Realm, Firebase and Cursor I need to review the way how the items are stored, making another level of abstraction, so I will focus on them in the **rc3**, while now I will focus to close the rc2 with the planned work.
I also close this issue, to create a new one (#361) with more detailed points.

[2017-05-09 23:36] #224 closed

[2017-05-09 23:43] davideas opened #362 "Filter items with optional originalList"
If original list is not provided, then the filter copies the original list internally before starting the filter.
Clearing the filter, it will restore the original list.
The committed deleted items after the undo will also be removed from this internal list during the filter.

[2017-05-09 23:47] davideas opened #363 "Simplify the method createViewHolder in IFlexible"
This will have an impact of the current implementation.
Layout inflation will be done by the Adapter and the delegated method `createViewHolder()` will receive the inflated View and the Adapter. It will simplify the ViewHolder creation by the user.

[2017-05-10 08:17] henengel commented on #324
@davideas Hi David,
Thank you for the update.
I'll be checking it out soon.
Have a good day.

[2017-05-10 09:12] volser opened #364 "How to disable expand/collapse animation?"
How to disable expand/collapse animation?

Thanks

[2017-05-10 10:32] davideas commented on #364
@volser, could you please elaborate your question?
I would answer just don't add any animation. The default ItemAnimator make it appear or disappear, which specific animation are you talking about for expanding/collapsing?

[2017-05-10 10:39] volser commented on #364
I mean this animation:
https://youtu.be/bz97fR8D-DM

[2017-05-10 10:48] davideas commented on #364
@volser, ok, so it's the `DefaultItemAnimator`, if you set it null any change won't be animated anymore.

[2017-05-10 11:41] volser commented on #364
@davideas cool, thanks

[2017-05-10 11:48] davideas commented on #364
@volser, sorry, I reviewed your video, there's a glitch on the lower views, they move up and down once you click on the expandable, I mean the views of "Worked on recently". That shouldn't happen as you see from the demoApp those views nicely move up and down only the subItems appear and disappear.
Are those views part of the same list?

[2017-05-10 11:54] volser commented on #364
@davideas  "Worked on recently" it's second recyclerview.

First recyclerview has height="wrap_content"

[2017-05-10 11:56] davideas commented on #364
Ah ok, so you are aware of it.

[2017-05-10 11:56] #364 closed

[2017-05-11 01:45] huangwaylon commented on #360
Thanks for the response! I chose to use setEnabled(false) which worked fine as I don't need to react to section taps at this time.

[2017-05-11 22:24] davideas commented on #337
@tprochazka, with the resolution of the issue #362, this issue is also resolved.
You will be able to filter without providing the original list, since a new overloaded method of `filterItems()` will preserve it.

[2017-05-11 22:25] davideas commented on #362
This improvement will be available from the next snapshot.

[2017-05-11 22:25] #362 closed

[2017-05-11 22:28] davideas commented on #363
From the next snapshot you will have to adapt the method `createViewHolder()` in ALL of your `IFlexible` implementation:
The `IFlexible` interface now wants you implement as following:
[code]

[2017-05-15 03:58] SheikhZayed opened #366 "Can u please provide a demo APK?, it could be helpful so that we are free from compiling and running the code just to test."
Please check off the following points BEFORE submitting a new issue / asking support.
- [x] Write a self explanatory Subject.
- [ ] Check if the issue has already been raised by someone else (see closed issue).

1) For Bugs / Support
- [ ] What you've tried (If necessary, indicate library Version / Android version / hardware).
- [ ] Expected behavior and actual behavior (problem encountered).
- [

[2017-05-15 03:58] SheikhZayed commented on #366
Provide demo APK

[2017-05-15 06:36] #366 closed

[2017-05-15 12:51] livotov commented on #361
It looks like RC3 falls into a separate 1.1 release - too many architect work to be done. Shouldn't you better release 1.0, then focus on described extensions for 1.1 instead (as I suppose they could take a long time for a proper, stable and well done implementation) ?

Otherwise - a great work ! :)
Thanks!!!

[2017-05-15 20:05] IHNEL commented on #334
I debug and see that the method `equals` of header view didn't be call. I spent much of time to investigate but don't know why it runs into this case.
Any recommendation?

[2017-05-15 20:35] davideas commented on #334
@IHNEL, the equals method is called when you get an item from the list or when it is explicity called.
With the last Snapshot I improved the calls on `equals` for managing Headers, check commits in issue #357.

[2017-05-16 03:49] aaaking opened #367 "an issue in activity_view_pager.xml"
I add one row code `app:layout_scrollFlags="scroll|enterAlways|snap"` in `activity_view_pager.xml`, just like below:

[code]
But the view CollapsingToolbarLayout with id toolbar_layout did not completely hide when I scroll the RecyclerView, I know it is `android:fitsSystemWindows="true"` that causes this problem, but I do not have a good solution.

[2017-05-16 08:17] davideas commented on #367
I'm sorry, @aaaking, is there an issue related to this Adapter library? If not, please consider to ask your question in Stackoverflow and close this issue.

[2017-05-16 11:59] IHNEL commented on #334
Thank. Finally I found the cause.
The `equals()` method wasn't called if I set up the adapter like this:
`adapter.setDisplayHeadersAtStartUp(true).setStickyHeaders(true)`

And it works like a charm when I turn to this.
[code]

[2017-05-18 02:47] IHNEL opened #368 "Support SortedList"
Do you have any plan to support `android.support.v7.util.SortedList`  ?

`https://developer.android.com/reference/android/support/v7/util/SortedList.html`

[2017-05-18 13:19] stepansanda commented on #82
This issue is still there. Why is this closed? How did you solve it?

[2017-05-18 13:50] davideas commented on #82
@stepansanda, in which version you get that exception?

[2017-05-18 21:43] tprochazka commented on #361
I'm personally very like for such number of new great features!
Just maybe one RC should be split to the several full releases ;-)
RC is Release Candidate, there should be just necessary critical bug fixes not completely new breaking features ;-)

Now I'm using SNAPSHOT on my project and it is not the ideal way, it can break my builds every day and also tagging commits of my app like the release i

[2017-05-19 07:20] stepansanda commented on #82
@davideas It is happening when I call `updateDataSet(..)` on adapter its `recyclerview` is inside `scrollview`. When I call `clear() `and then `addItems(..)` it works correctly.

[2017-05-19 08:18] davideas commented on #82
Uhm, can you please provide me the logs of the adapter? It might be there something that could help me to analyse the issue.

[2017-05-19 09:06] arpinca opened #369 "[FastScroller] OnScrollListener removed onDetachedToWindow?"
Hi,

I'd like to ask why is `onScrollListener` removed in `FastScroller#onDetachedToWindow`? I mean, if it's for preventing leaks when the window is detached, why remove only the onScrollListener? How about the other listeners like OnLayoutChangeListener and OnPreDrawListener? Or how about adding it again in `FastScroller#onAttachedToWindow`?

For context, I use FastScroller in views on a ViewPage

[2017-05-19 09:33] djuelg commented on #361
I agree that it would be more convenient for your library users to publish a new usable version and publish the other features/refactorings as a seperated release.

[2017-05-19 11:16] #367 closed

[2017-05-19 11:28] preyesm opened #370 "Swipe through Horizontal Direction"
Hi, thanks for the awesome library first. I want to know if there is a functionality to swipe through the list and get the current item position in view, in horizontal scrolling?

I can have fast scroll where in after the scroll settles it would settle only on one view as my individual item's width is match parent and when i scroll slowly it should scroll one complete item in the list and I would

[2017-05-19 12:18] davideas commented on #370
@preyesm, thanks!
The library supports the horizontal scrolling and the vertical swipe, I could not have the time to test it properly with a demo. Also FastScroller is supported but still not fully tested by me in horizontal layout.

The Snap feature you describe is not inside my library because it's officially supported by Support Library version 24.2.0. Check this page: https://rubensousa.github

[2017-05-20 08:13] davideas commented on #368
@IHNEL, this might be part of the future extensions. It needs to be analysed.

[2017-05-20 08:17] davideas commented on #361
Dears all, OK, I'm convinced from you all to review the plan for the releases. Indeed, the extensions will be new libraries with their own versioning. So, it's better to finalize and make stable this development as you proposed.
I will publish the RC2 as soon as possible.
I will keep only few point and move the development of new demoApp in parallel with RC3.

[2017-05-21 12:22] preyesm commented on #370
Great buddy, I did not know Play store is the answer for all the layout one doesn't the name off but needs them precisely. SnapHelper has come to my rescue. Thanks.

[2017-05-22 09:10] davideas commented on #369
@arpinca, the first version was took from another project, changing the Adapter wasn't foreseen.
I will fix it.

[2017-05-22 09:31] davideas commented on #369
Since I do not have example to swap the ViewPager Adapter at runtime and I  cannot publish a new Snapshot, could you please check if adding the following in your version resolves the issue, if you can?
[code]

[2017-05-23 00:04] arpinca commented on #369
Yes. Thank you! This [snippet](https://github.com/davideas/FlexibleAdapter/issues/369#issuecomment-303049018) fixed it.

[2017-05-23 15:39] IHNEL commented on #368
Wow!. happy to hear that.

[2017-05-24 15:06] Kreiri opened #371 "Bug in position calculation in clearAllBut"
library version: 'eu.davidea:flexible-adapter:5.0.0-rc1'

In `clearAllBut` method in FlexibleAdapter end position is calculated as

    int endPosition = this.getItemCount() - this.mScrollableFooters.size() - 1;

accounting for last position in array being size-1. However, index is checked against it using less-than instead of less-or-equal-than:

    for(int i = startPosition; i < endPosition; ++

[2017-05-24 15:17] Kreiri opened #372 "Confusing behaviour of clearAllBut when called without specifying view types to retain"
Javadoc comment for `clearAllBut` method of FlexibleAdapter says:

    /**
	 * Clears the Adapter list retaining Scrollable Headers and Footers and all items of the
	 * type provided as parameter.
	 * <p><b>Note:</b>- This method is opposite of {@link #removeItemsOfType(Integer...)}.
	 *
	 * @param viewTypes the viewTypes to retain
	 * @see #clear()
	 * @see #removeItems(List)
	 * @see #removeItem

[2017-05-25 10:39] davideas commented on #372
@Kreiri, thank you, it is certainly a bug, I will fix and publish for RC2 pre-release.

[2017-05-25 17:55] gwailoTr0n5000 opened #373 "java.util.ConcurrentModificationException with Undo after multiple rapid swipe removals"
It seems that there may be a race condition or similar issue with multiple removals and then pressing "undo" on the snackbar if it coincides with the end of the timer before automated dismissal. I'm not able to easily replicate this but it has occurred about half a dozen times. It comes up most if I remove items quickly, then pause, then remove several more, then pause briefly, and click undo.

Er

[2017-05-25 18:21] davideas commented on #373
@gwailoTr0n5000, thanks for compliments and to notifying about this issue.

Do you have the possibility to try the following fix inside the `SelectableAdapter` and `FlexibleAdapter` and to reproduce it again?
[code]

[2017-05-25 18:32] gwailoTr0n5000 commented on #373
1. I have been using the SNAPSHOT build in my gradle file. Will this still be an acceptable test if I download the module for the latest RC or are there any conflicting changes in the snapshot?

2. Could you provide just a bit more context for where to place the lines of code?

I'm looking at these two spots (that I believe are the methods you're thinking of.

[code]

[2017-05-25 18:41] davideas commented on #373
The points are correct, but the **current_snapshot** branch has more commits than the published one because of a breaking change in `createViewHolder()` that won't make compile your code if I published (I reserve the publishing for the RC2, since I'm very close to do it).

If you take this branch, you should reset the branch to this commit: d7c945a - 12/05/2017 at 00.01 -
 Resolved 362 - Improved

[2017-05-26 05:25] IHNEL commented on #368
hey! any idea how to do this? I am thinking how I can I do it myself first.

[2017-05-26 06:06] epwtrq opened #374 "how to update head notifyDataSetChanged not work for head item"
i use notifyDataSetChanged not work  to update head item

[2017-05-26 09:49] davideas commented on #368
@IHNEL, when I checked I saw that a new object container is necessary so we should extend an AbstractAdapter without any list inside, this middle layer exposes some methods that all others will override.
Which is your idea? I'm curious.

[2017-05-26 09:56] davideas commented on #374
@epwtrq, which version are you using?
It should work if you use the Snapshot version, since it was fixed on 12/4 together with issue #320.
Try to use `updateItem()` function, it should trigger the update also the sticky layout if that header is sticky.

[2017-05-27 12:05] epwtrq commented on #374
thanks ，I use your source code .sticky head use notifyDataSetChanged not work .i will try another way as your say updateItem()

[2017-05-27 16:20] epwtrq commented on #374
updateItem(head)still not work for sticky head .is there a sample in demo

[2017-05-27 18:29] davideas commented on #374
@epwtrq, it works in Snapshot version, I just tried. However, this version will be the RC2 very soon!
If you want to try it out, I just committed something in the demo app.

[2017-05-28 02:12] epwtrq commented on #374
thanks

[2017-05-28 02:12] #374 closed

[2017-05-28 10:54] goodandrewsoft opened #375 "All your apks NOT WORK, DUDE"
2 last apks - not work on emulator and 19 api phone.
apk from arsenal - not work too. You are RIDICOLOUS....
good by !!!

FATAL EXCEPTION: main
                                                                                     Process: eu.davidea.examples.flexibleadapter, PID: 22301
                                                                                     java.lang.NoClassDefFoundErro

[2017-05-28 11:37] thelong1EU commented on #375
@goodandrewsoft learn English my dear

[2017-05-28 12:02] goodandrewsoft commented on #375
It's not about me, my darling.

[2017-05-28 12:16] thelong1EU commented on #375
I'm not waisting my time on this. I was just intrigued by the way you made you point.

[2017-05-28 12:34] goodandrewsoft commented on #375
Ok, now you can pass by.

[2017-05-29 06:07] blitr opened #376 "Sticky header doesn't maintain RecyclerView.ItemDecoration where getItemOffsets is used for GridLayoutManager"
The following layout manager is being used: SmoothScrollGridLayoutManager
With the column count set to 2 and the spanSizeLookup being used to mark certain rows as headers.

The following item decoration is being used:
[code]

When the sticky header view holder is displayed at the top it looses the spacing decoration used by the recyclerview thus causing the content in the header to jump to the def

[2017-05-29 09:43] henengel opened #377 "Item content not updating when animating updateDataSet"
Hi David, how are you :) ?
I think I found a bug/issue that was supposed to be fixed, but still isn't.
I read in this repository issues several tickets (#210...) that resemble mine,  not sure if related.

Issue:
When updating the dataset with adapter.updateDataSet(new ArrayList<>(items), true), the content of the items don't update.

Used code:
[code]

[code]

Solutions tried:
1. I changed the dep

[2017-05-29 10:35] davideas commented on #377
@henengel, I'm ok thanks.

Currently, to enable changes there's this method `setNotifyChangeOfUnfilteredItems()` that works for update and filter, because both use same process. This property is disabled by default, _should it be enabled by default?_
Relevant code [FlexibleAdapter.java#L4456](https://github.com/davideas/FlexibleAdapter/blob/current_snapshot/flexible-adapter/src/main/java/eu/davide

[2017-05-29 12:24] davideas commented on #376
@blitr, yes, the offset is _not_ translated to the sticky layout.
This needs to be analyzed how to do. Any idea?

The `FlexibleItemDecorator` from the library needs to be enhanced as well to have the offset configurable that works for linear layout and the 2 grid layouts. It should also support equal distance at the edges of the items if used with grid layouts.
Now, it only supports the divider of

[2017-05-29 12:29] davideas commented on #375
@goodandrewsoft, please use the snapshot version from the code (and emulator) if you want to check it out. Which is the one I am working on for the RC2 release.
I'm not going to modify them because too old. Probably I will delete them once I will publish the new pre-release.

PS. And man, I do not like the tone of your message. You have to consider others point of views.

[2017-05-29 12:46] henengel commented on #377
@davideas
In my opinion, of course, the default should be true.
Most people expect all data to be updated when updating the data set.
Those who have large lists are unusual and should seek the configuration the fits them.
Thank you

[2017-05-29 12:48] davideas commented on #377
@henengel, thanks for your opinion.

[2017-05-29 12:49] henengel commented on #377
Thank you for your help!

[2017-05-29 20:15] magneticflux- opened #378 "Calling FlexibleAdapter.clear() may cause NullPointerException"
Library Version: 5.0.0-rc1

All methods referenced are located in FlexibleAdapter.java

Expected outcome:
When `public IHeader getHeaderOf(@NonNull T item) { ... }` is overriden, `item` should never be null. I relied on that null checking, and it caused a NullPointerException unexpectedly.

Actual outcome:
`clear();`
calls
`removeRange(0, getItemCount(), null);`
which then assigns
`T item = getIte

[2017-05-29 20:27] magneticflux- commented on #378
I'll make a pull request that fixes this and adds more `@Nullable` and `@NonNull` annotations in FlexibleAdapter to prevent future similar errors.

[2017-05-29 20:31] davideas commented on #378
@magneticflux- thanks for your message. Actually the annotation is just an indication. But you are right that if overridden, that indication may mislead to not check the nullable value.
If you want you can also add a check of emptiness in `removeRange()`, to early return so it avoids to run through that method.

Maybe is better to check all the NotNull annotation that can be overridden too. Would

[2017-05-29 22:35] magneticflux- commented on #378
@davideas I'll try looking through other overrideable methods with `@NonNull` annotations and see if any can be changed so they aren't violated.

[2017-05-30 03:28] IHNEL commented on #368
FlexibleAdapter currently supports `eu.davidea.flexibleadapter.FlexibleAdapter#calculatePositionFor()` to find position of an item in sorted data list, I think you should provide more method around here.

[2017-05-30 07:48] davideas commented on #368
@IHNEL, the Comparator is the key, inside, all views types must be checked.
There are others 2 methods `addSection()` and `addItemToSection()`, both rely on `calculatePositionFor()`.
Please check also `ItemComparatorTest` class.
Which others methods you were thinking?

[2017-05-30 18:11] davideas opened #380 "New demoApp"
For RC3 and final release I'm going to review the demoApp completely.
I will improve the existing examples and adding new ones:

- [ ] ViewPager
- [ ] HorizontalLayout
- [ ] Nested RecyclerViews
- [ ] Improved live settings
- [ ] Advanced filtering
- [ ] The new FlexibleItemDecorator at work
- [ ] ...

But, what _else_ would you like to try out with FlexibleAdapter in the demoApp?
What are your ex

[2017-05-31 15:09] henengel commented on #377
@davideas Hi David,
Wanted to let you know that there are still bugs when using `setNotifyChangeOfUnfilteredItems()`.
When using this setting, the feed items get messed up, in their position and content.
From what I experienced, if you:
1. Load the same dataset.
2. Change the content items.
3. In 2 different sessions one with `setNotifyChangeOfUnfilteredItems(true)` and `updateDataSet(items, true)

[2017-05-31 17:41] davideas commented on #377
@henengel, change the content items in which ways? you mean delete/add/change and update with true, restarting the test with same delete/add/change and update with false the positions are different?

[2017-05-31 19:15] henengel commented on #377
@davideas
What I mean with change content is, in my case I have articles as items. their title, subtitle, image, comments(displayed as a number of comments), and time of articles.
When I `updateDataSet(items, true);` and `setNotifyChangeOfUnfilteredItems(true);`, The contents of the articles get mixed up. the image from one article appears in another, the order of the articles change even though t

[2017-05-31 19:25] magneticflux- commented on #377
@henengel Are you implementing `.equals()` and `.hashCode()` for your objects? A reproducible test case
 with the minimum code to trigger the problem would be a huge help too.

[2017-05-31 19:27] davideas commented on #377
@henengel, I made a new unit test on that, maybe the test case is not the same as you mean, or maybe the test is wrong, but for me the 2 lists in the tests are equals with items at the same position.

[2017-05-31 19:33] henengel commented on #377
I am...

I would pursue items getting wrong info updated then moving position.
As I said I only noticed the issue while testing my app for releasing a new build.
I have to get past this release and in the next one I would like to integrate the animation, hence I will be checking everyhting again.
When I encountre it again, I'll try to generate 2 short videos and see if I can reproduce any test cas

[2017-05-31 19:55] davideas commented on #377
I've reviewed the specific unit test, now it's better.

[2017-06-01 06:13] henengel commented on #377
@davideas I have been testing again after your last comment and seems to be working ok.
I'll continue testing and ping you if I encounter any problem.
One last question if I may,
If using your dependency `compile 'eu.davidea:flexible-adapter:5.0.0-SNAPSHOT'`, is the code received in the app modified remotely by you?
I need to release a new version of my app, and of course, I can't take the risk of

[2017-06-01 10:08] davideas commented on #377
@henengel if you prepare the apk, whatever is built into, it remains. The snapshot library is indeed update automatically at every my publication and affects the current build. You can always make a copy of the library file.

However, I'm awating few tasks here to be resolved in order to publish the RC2 so those will be included (included the new `FlexibleItemDecoration`). I won't publish again th

[2017-06-01 22:16] henengel commented on #377
@davideas
Hi David, sorry to say that the issue still remains. the first item in my data set after updating (sometimes), suddenly appears around position 5-10. Also, the first article has comments, and after updating the comments disappear.
I can't seem to trigger the issue or understand when or why it happens. could be some of the items have updated (I have around 60 so it's hard to say). but I'm

[2017-06-02 07:52] davideas commented on #377
@henengel, let's resolve this, I will debug that process and verify what's going on. Explain me what to touch in order to trigger that update in your app.

[2017-06-02 10:26] henengel commented on #377
@davideas
I added you as a collaborator in the project.
To try in reproduce the problem, all you need to do is swipe to refresh.
I recommend leaving the app in background for several minutes, and then updating.
If you have any question, need more info from me, feel free to contact me here, or skype: chen_engel, or any other platform that you prefer.
As far as time difference (although I work a lot

[2017-06-04 14:37] davideas opened #381 "Better Log system"
Create an utility class that simplifies the use of `android.util.Log` by improving the call to all log methods by supplying arguments as parameters instead of creating a string.
This avoids useless memory allocations when not requested: the `StringBuilder` itself, the buffer and the String object. The new methods check in advance if the level is enabled and only after creates the string message wi

[2017-06-05 20:23] davideas opened #382 "New FlexibleItemDecoration"
The new item decorator should implement identical drawing technique of `DividerItemDecorator` (from Android API); Should have equal item offset; Section gap offset; Should work with all layouts and orientations.

For item spacing technique, the open source decorator [ibosong/CommonItemDecoration](https://github.com/ibosong/CommonItemDecoration) can be merged.

Details of the functionalities:
- Sup

[2017-06-05 23:33] davideas commented on #376
@blitr, I highly improved the ItemDecoration (see #382) and implemented a possible solution for what you requested. Please could you run the demoApp with the emulator and check in Header and Sections example (use **current_snapshot** branch only)? Is that what you were looking for?

[2017-06-06 08:28] longnguyencmg commented on #77
hello, any update on this enhancement? Thanks!

[2017-06-07 06:56] blitr commented on #376
@davideas Cool, thanks. Any idea when rc2 will be available so I can sync with my project?

I'll try to find time to pull the branch and check it out.

[2017-06-07 07:43] davideas commented on #376
@blitr, it would be better that you check it out before I publish the new pre-release that I foresee for this Saturday if something else doesn't come up.

[2017-06-07 10:06] zoki- opened #383 "Sticky item is invisible after replacing items below it"
The setup is as follows:
- there is a sticky item with a spinner for selecting
- the sticky item is sticked for the user to filter items using the spinner when scrolling down and browsing those items, that are positioned below the sticky item
- the user has scrolled down in the list, so the sticky view is sticked.

The action:
- when user selects something from spinner, I do the following: `adapte

[2017-06-07 12:10] davideas commented on #383
@zoki- which version are you using?
I've fixed some bugs described in #320 and #347 and those fix are available in the Snapshot version and soon also in RC2.
Does that behaviour still occurs in the Snapshot version?

[2017-06-07 14:31] zoki- commented on #383
I'm using the 5.0.0-SNAPSHOT version.
The behavior occurs with this version.

[2017-06-07 17:12] davideas commented on #383
@zoki- well Ok, can you provide me the logs and parts of code?
If you can share the project even better.

[2017-06-07 19:51] blitr commented on #376
@davideas, it certainly looks like it will solve the issue we had. I have a workaround in my code right now but once rc2 is released I'll get it working for our use case.
Great job on the library! And thanks for the rapid turnaround.

[2017-06-07 19:52] #376 closed

[2017-06-07 20:09] jlwatkins opened #384 "Add Ability to Recognize Child View Click"
I would really like to be able to tell whether or not a sub child was click or the parent. Being able to tell by the  sub view id would be great. I currently have to change  FlexibleAdapter and VIewHolder to get this functionality. I would love it if there was an AdvanedItemClickListener that would pass the sub view's id as well as the position.

[2017-06-07 21:27] davideas commented on #376
Thank you @blitr ❗️

[2017-06-08 16:59] NightSkyDev commented on #375
Hi @davideas ... this is probably a good place to state that I really appreciate your project and all the hard work you've put in to this library!  I'm using your library for on a new project because I need Sticky Headers and I can say - your stuff really does work!  Thank you.

[2017-06-10 21:56] #363 closed

[2017-06-10 21:56] #369 closed

[2017-06-10 21:56] #371 closed

[2017-06-10 21:56] #372 closed

[2017-06-10 21:56] #377 closed

[2017-06-10 21:56] #373 closed

[2017-06-10 21:56] #378 closed

[2017-06-10 21:56] #381 closed

[2017-06-10 21:56] #382 closed

[2017-06-10 21:59] #351 closed

[2017-06-10 21:59] #354 closed

[2017-06-10 21:59] #358 closed

[2017-06-10 21:59] #370 closed

[2017-06-10 22:02] davideas commented on #384
@jlwatkins, it is an interesting feature, I will try analyse this point for future releases.
Anyone can suggest how to achieve this feature too.

[2017-06-10 22:04] davideas commented on #39
Second **release candidate [v5.0.0-rc2](https://github.com/davideas/FlexibleAdapter/releases/tag/5.0.0-rc2)**: new features, improvements and fixes. (You can download the apk from the release page).

[code]

[2017-06-10 22:10] davideas commented on #37
With RC2 release many pages have been reviewed already, all the remaining will be updated soon.

[2017-06-10 22:19] davideas commented on #120
With RC2 release the Method A has been deprecated and removed from wiki
Many the wiki pages have been reviewed, the remaining will be updated soon.
DemoApp has been revisited a bit, even if the basic architecture remains the same, but considering the period this issue was created, a lot has been done.

PS. However, with RC3 I will try to simply again the examples, adding new ones and completely re

[2017-06-10 22:19] #120 closed

[2017-06-11 09:18] ceddyb opened #385 "get Item data"
How do i get the data from my IFlexible item?

i mean the private data fields, lets say for an item selected.

As i see it returns an IFlexible object which doesn't have my data.

Do i have to define my own setter and getter methods for my IFlexible item and manually add a duplicate Array for my data?

[2017-06-11 09:35] davideas commented on #385
@ceddyb, you have 2 options:
- You can extend your [Adapter item](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Setting-Up#implement-and-customize-the-item-myitem-and-myviewholder-classes) with your data from `AbstractFlexibleItems` and others.
- Create your adapter item with [IHolder](https://github.com/davideas/FlexibleAdapter/wiki/5.x-%7C-Item-Interfaces#iholder) and set your data it

[2017-06-11 19:08] ceddyb commented on #385
I done made some casting of my class, but it took me like 2 to 3 builds to figure out what was happening.

Awesome lib man!

[2017-06-11 19:08] #385 closed

[2017-06-11 22:00] henengel commented on #377
Hi David, how are you.
So I have been testing everything, and so far so good.
If I will encounter anything, I'll let you know.
Thank vary much for your help and time spent helping me.
Much appreciated.
Regards,
Chen

On Jun 11, 2017 00:56, "Davide Steduto" <notifications@github.com> wrote:

[2017-06-11 22:31] davideas commented on #385
The library is now quite big in terms of functionality, so the initialization has its complexity as well, but with Wiki, demo and javaDoc, it becomes easier.

[2017-06-12 04:52] jlwatkins commented on #384
What is the easiest way to import this project as a module / library dependency to my project? Do you have any instructions on this? I would love to try to write it.

[2017-06-12 07:50] davideas commented on #384
@jlwatkins, if I understoo well, you have already a project and want to import the module(s) of this project.
You can try to use the import module in menu, "file/new/import module..." and follow the instructions on screen, but first you need to clone the full FlexibleAdapter project.

If you the import doesn't work, you do it manually, copy the module project, copy the parts you need from _setting

[2017-06-13 13:47] davideas commented on #383
@zoki-, without logs I can't be precise. I can only suspect that the layout manager didn't finish its work after the layout of removing and sticky header is not cleared, or is cleared but not scrolled to the top. Can you add the new items in post, delayed?
Separate the process: first delete and see if the header is still there without items, then, optionally you scroll to it, finally you add new i